<div class="content-heading">
  <div>Branches
    <small>Create and manage branches</small>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8">
      <div class="card card-default">
        <div class="card-header">Branch List</div>
        <div class="card-body">
          <form #searchForm="ngForm" autocomplete="off" class="form-horizontal" novalidate>
            <div class="row">
              <div class="col-xl-4 col-lg-6 form-inline">
                <label>
                  <input #searchText="ngModel" [(ngModel)]="model.searchText" class="mb form-control" minlength="4"
                         name="searchText" placeholder="Search..." required type="text"/>
                </label>
                <button (click)="onSearch()" [disabled]="!searchForm.valid || !searchForm.dirty" class="btn btn-outline-inverse"
                        type="button"><span class="fa fa-search"></span>
                  Search
                </button>

              </div>
              <div class="col-xl-4 col-lg-6 form-inline">
                <button (click)="reset()" class="mr-1 mb-1 btn btn-outline-green" type="button"><span
                  class="fa fa-search"></span> Reset
                </button>
              </div>
            </div>
            <p *ngIf="searchText.errors?.minlength">minimum of four(4) search characters is required</p>
          </form>
          <scrollable class="list-group" height="600">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>BranchCode#</th>
                  <th>Branch Name</th>
                  <th>Branch Manager</th>
                  <th>Branch Email</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let b of branches">
                  <td>
                    <button (click)="update(b)" class="btn btn-link">{{b.branchcode}}</button>
                  </td>
                  <td>{{b.branchname}}</td>
                  <td>{{b.manager}}</td>
                  <td>{{b.branchemail}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </scrollable>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card card-default">
        <div class="card-body">
          <form (submit)="submitForm($event, branchForm.value)" [formGroup]="branchForm"
                autocomplete="off" class="form-validate form-horizontal" novalidate="">
            <div class="form-group">
              <p>BranchCode#</p>
              <label>
                <input [formControl]="branchForm.controls['branchcode']" [ngClass]="{ 'is-invalid': f.branchcode.errors }" class="form-control" formControlName="branchcode"
                       name="branchcode"
                       required
                       type="text"/>
              </label>
            </div>
            <div class="form-group">
              <p>Branch Name</p>
              <label>
                <input [formControl]="branchForm.controls['branchname']" [ngClass]="{ 'is-invalid': f.branchname.errors }" class="form-control"
                       formControlName="branchname"
                       required
                       type="text"/>
              </label>
            </div>
            <div class="form-group">
              <p>Branch Manager</p>
              <label>
                <input [formControl]="branchForm.controls['manager']" [ngClass]="{ 'is-invalid': f.manager.errors }" class="form-control"
                       formControlName="manager" required
                       type="text"/>
              </label>
            </div>
            <div class="form-group">
              <p>Branch Email</p>
              <label>
                <input [formControl]="branchForm.controls['branchemail']" class="form-control" formControlName="branchemail"
                       type="text"/>
              </label>
            </div>
            <div class="form-group">
              <p>Region</p>
              <label>
                <input [formControl]="branchForm.controls['region']" class="form-control" formControlName="region"
                       type="text"/>
              </label>
            </div>
            <div class="form-group">
              <button [disabled]="branchForm.invalid" class="btn btn-outline-primary">Update or create new
                Branch
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
