<div class="content-heading">
  <div>Demand Letters History - Credit cards
    <small>Credit card demand letters issued</small></div>
</div>
<div class="card card-default">
  <div class="card-header">Search</div>

  <div class="card-body">
    <form class="form-horizontal">
      <div class="input-group">
        <label>
          <input #accnumber class="form-control" placeholder="Search for accnumber ..." type="text"/>
        </label>
        <span class="input-group-btn">
          <button (click)="Search(accnumber)" [disabled]="!accnumber.value" class="btn btn-secondary" type="button">
            <em class="fa fa-search"></em>
          </button>
        </span>
      </div>
    </form>
    <table class="wd-wide">
      <tbody>
      <tr *ngFor="let d of demands">
        <td class="wd-xs">
          <div class="px-2">
            <button (click)="downloadFile(d.filepath)" class="btn btn-outline-success btn-sm">
              <i class="fa fa-download"></i>
            </button>
          </div>
        </td>
        <td>
          <div class="px-2">
            <h4 class="mb-2">{{d.demand}}</h4>
            <small class="text-muted">{{d.owner}}</small>
          </div>
        </td>
        <td class="wd-sm  d-none d-lg-table-cell">
          <div class="px-2">
            <p class="m-0">Date sent</p>
            <small class="text-muted">{{d.datesent | date}}</small>
          </div>
        </td>
        <td class="wd-xs d-none d-lg-table-cell">
          <div class="px-2">
            <p class="m-0 text-muted">
              <em class="icon-people mr-2 fa-lg"></em>0</p>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
