<div class="wrapper">
  <div class="block-center mt-4 wd-xl">
    <!-- START card-->
    <div class="card card-flat">
      <div class="card-header text-center bg-dark">
        <a href="#">
          <img alt="Image" class="block-center rounded" src="assets/img/logo.png"/>
        </a>
      </div>
      <div class="card-body">
        <p class="text-center py-2">SIGNUP TO GET INSTANT ACCESS.</p>
        <form (submit)="submitForm($event, valForm.value)" [formGroup]="valForm" class="form-validate mb-3" name="registerForm" novalidate=""
              role="form">
          <div class="form-group">
            <label class="text-muted mb-1">Email address</label>
            <div class="input-group with-focus">
              <label>
                <input autocomplete="off" class="form-control border-right-0" formControlName="email" name="account_email"
                       placeholder="Enter email" required="" type="email"/>
              </label>
              <div class="input-group-append">
                                <span class="input-group-text text-muted bg-transparent border-left-0">
                                    <em class="fa fa-envelope"></em>
                                </span>
              </div>
            </div>
            <div *ngIf="valForm.controls['email'].hasError('required') && (valForm.controls['email'].dirty || valForm.controls['email'].touched)"
                 class="text-danger">
              This field is required
            </div>
            <div *ngIf="valForm.controls['email'].hasError('email') && (valForm.controls['email'].dirty || valForm.controls['email'].touched)"
                 class="text-danger">
              This field must be a valid email address
            </div>
          </div>
          <div formGroupName="passwordGroup">
            <div class="form-group">
              <label class="text-muted mb-1">Password</label>
              <div class="input-group with-focus">
                <label for="id-password"></label><input [formControl]="valForm.get('passwordGroup.password')" class="form-control border-right-0"
                                                        formControlName="password" id="id-password" name="password"
                                                        type="password"/>
                <div class="input-group-append">
                                    <span class="input-group-text text-muted bg-transparent border-left-0">
                                        <em class="fa fa-lock"></em>
                                    </span>
                </div>
              </div>
              <div *ngIf="valForm.get('passwordGroup.password').hasError('required') && (valForm.get('passwordGroup.password').dirty || valForm.get('passwordGroup.password').touched)"
                   class="text-danger">
                This field is required
              </div>
              <div *ngIf="valForm.get('passwordGroup.password').hasError('pattern') && (valForm.get('passwordGroup.password').dirty || valForm.get('passwordGroup.password').touched)"
                   class="text-danger">
                Input should match 'a-zA-Z0-9' and 6-10 length
              </div>
            </div>
            <div class="form-group">
              <label class="text-muted mb-1">Retype Password</label>
              <div class="input-group with-focus">
                <label>
                  <input [formControl]="valForm.get('passwordGroup.confirmPassword')" class="form-control border-right-0" formControlName="confirmPassword"
                         name="confirmPassword"
                         type="password"/>
                </label>
                <div class="input-group-append">
                                    <span class="input-group-text text-muted bg-transparent border-left-0">
                                        <em class="fa fa-lock"></em>
                                    </span>
                </div>
              </div>
              <div *ngIf="valForm.get('passwordGroup.confirmPassword').hasError('required') && (valForm.get('passwordGroup.confirmPassword').dirty || valForm.get('passwordGroup.confirmPassword').touched)"
                   class="text-danger">
                This field is required
              </div>
              <div *ngIf="valForm.get('passwordGroup.confirmPassword').hasError('equalTo')" class="text-danger">Password
                does Not match
              </div>
            </div>
          </div>
          <div class="clearfix">
            <div class="checkbox c-checkbox float-left mt0">
              <label>
                <input formControlName="accountagreed" name="account_agreed" required="" type="checkbox"/>
                <span class="fa fa-check"></span>I agree with the
                <a href="#">terms</a>
              </label>
            </div>
          </div>
          <span *ngIf="valForm.controls['accountagreed'].hasError('required') && (valForm.controls['accountagreed'].dirty || valForm.controls['accountagreed'].touched)"
                class="text-danger">You must agree the terms</span>
          <button class="btn btn-block btn-primary mt-3" type="submit">Create account</button>
        </form>
        <!-- <div class="alert alert-danger text-center"></div> -->
        <p class="pt-3 text-center">Have an account?</p>
        <a [routerLink]="'/login'" class="btn btn-block btn-secondary">Signup</a>
      </div>
    </div>
    <!-- END card-->
    <div class="p-3 text-center">
      <span>&copy;</span>
      <span>{{ settings.getAppSetting('year') }}</span>
      <span class="mx-2">-</span>
      <span>{{ settings.getAppSetting('name') }}</span>
      <br/>
      <span>{{ settings.getAppSetting('description') }}</span>
    </div>
  </div>
</div>
