<div class="content-heading">
  <div>INSURANCE COMPANIES
    <small>view all</small></div>
</div>
<button (click)="opennewInsuranceModal()" class="mb-1 btn btn-success btn-sm" type="button">+New</button>


<ag-grid-angular #agGrid (rowClicked)='onRowDoubleClicked($event)' [animateRows]="true" [columnDefs]="columnDefs"
                 [defaultColDef]="defaultColDef"
                 [floatingFilter]="true"
                 [gridOptions]="gridOptions" [modules]="modules" [pagination]="true" [pivotPanelShow]="pivotPanelShow"
                 [rowData]="rowData" [sideBar]="true" class="ag-theme-balham"
                 id="myGrid" style="width: 100%; height: 550px;">

</ag-grid-angular>

<ngx-smart-modal #newInsurance [closable]="false" [dismissable]="false" [escapable]="false" identifier="newInsurance">
  <!-- START card-->
  <div class="card card-default">
    <!--    <div class="card-header">Enter Insurance details</div>-->
    <div class="card-body">
      <form #newGuarantorForm="ngForm" (ngSubmit)="onSubmit(newGuarantorForm)" autocomplete="off"
            class="form-horizontal">
        <div class="form-group row">
          <label class="col-xl-3 col-form-label">Insurance Name</label>
          <div class="col-xl-6">
            <label for="insurancename"></label><input #insurancename="ngModel" [(ngModel)]="model.insurancename"
                                                      class="form-control"
                                                      id="insurancename"
                                                      name="insurancename" required
                                                      type="text"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-3 col-form-label">Physical Address</label>
          <div class="col-xl-6">
            <label for="physicaladdress"></label><input #physicaladdress="ngModel" [(ngModel)]="model.physicaladdress"
                                                        class="form-control"
                                                        id="physicaladdress"
                                                        name="physicaladdress" required
                                                        type="text"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-3 col-form-label">Postal Address</label>
          <div class="col-xl-6">
            <label for="postaladdress"></label><input #postaladdress="ngModel" [(ngModel)]="model.postaladdress"
                                                      [ngClass]="{ 'is-invalid': postaladdress.invalid }"
                                                      class="form-control"
                                                      id="postaladdress" name="postaladdress"
                                                      required type="text"/>
            <div *ngIf="postaladdress.invalid && postaladdress.touched" class="validation-error">postaladdress
              is required
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-3 col-form-label">Email Address</label>
          <div class="col-xl-6">
            <label for="emailaddress"></label><input #emailaddress="ngModel" [(ngModel)]="model.emailaddress"
                                                     [ngClass]="{ 'is-invalid': emailaddress.invalid }"
                                                     class="form-control"
                                                     id="emailaddress" name="emailaddress"
                                                     required type="email"/>
            <div *ngIf="emailaddress.invalid && emailaddress.touched"
                 class="validation-error">Emailaddress Name is
              required
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-3 col-form-label">Contact Person</label>
          <div class="col-xl-6">
            <label for="contactperson"></label><input #contactperson="ngModel" [(ngModel)]="model.contactperson"
                                                      [ngClass]="{ 'is-invalid': contactperson.invalid }"
                                                      class="form-control"
                                                      id="contactperson" name="contactperson"
                                                      required type="text"/>
            <div *ngIf="contactperson.invalid && contactperson.touched" class="validation-error">contactperson is
              required
            </div>
          </div>
        </div>

        <!--            <div class="form-group row">-->
        <!--              <label class="col-xl-3 col-form-label">Active</label>-->
        <!--              <div class="d-flex align-items-center mb-3">-->
        <!--                <div class="ml-auto">-->
        <!--                  <label class="switch switch-lg m-0">-->
        <!--                    <input type="checkbox" checked="checked" name="active" id="active"-->
        <!--                           #active="ngModel" [(ngModel)]="model.active" />-->
        <!--                    <span></span>-->
        <!--                  </label>-->
        <!--                </div>-->
        <!--              </div>-->
        <!--            </div>-->

        <div class="form-group row">
          <label class="col-xl-3 col-form-label"></label>
          <div class="col-xl-6">
            <button [disabled]="!newGuarantorForm.valid || !newGuarantorForm.dirty"
                    class="btn btn-sm btn-outline-primary" type="submit">Submit
            </button>
            <button (click)="closenewInsuranceModal()" class="btn btn-sm btn-outline-danger"
                    tooltip="Go Back to Insurance Grid"
                    type="button">Back
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ngx-smart-modal>


<ngx-smart-modal #editInsurance [closable]="false" [dismissable]="false" [escapable]="false" identifier="editInsurance">
  <!-- START card-->
  <div class="card card-default">
    <!--    <div class="card-header">Enter Insurance details</div>-->
    <div class="card-body">
      <form (ngSubmit)="onUpdate()" [formGroup]="editnoteForm" autocomplete="off"
            class="form-horizontal">
        <div class="form-group row">
          <label class="col-xl-3 col-form-label">Insurance Id</label>
          <div class="col-xl-6">
            <label>
              <input [(ngModel)]="model.ID" class="form-control" formControlName="editid" name="editid" type="text"/>
            </label>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-3 col-form-label">Insurance Name</label>
          <div class="col-xl-6">
            <label>
              <input [(ngModel)]="model.INSURANCENAME" class="form-control" formControlName="editinsurancename"
                     name="editinsurancename" type="text"/>
            </label>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-3 col-form-label">Physical Address</label>
          <div class="col-xl-6">
            <label>
              <input [(ngModel)]="model.PHYSICALADDRESS" class="form-control" formControlName="editphysicaladdress"
                     name="editphysicaladdress" type="text"/>
            </label>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-3 col-form-label">Postal Address</label>
          <div class="col-xl-6">
            <label>
              <input [(ngModel)]="model.POSTALADDRESS" class="form-control" formControlName="editpostaladdress"
                     name="editpostaladdress"/>
            </label>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-3 col-form-label">Email Address</label>
          <div class="col-xl-6">
            <label>
              <input [(ngModel)]="model.EMAILADDRESS" class="form-control" formControlName="editemailaddress"
                     name="editemailaddress"
                     type="email"/>
            </label>

          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-3 col-form-label">Contact Person</label>
          <div class="col-xl-6">
            <label>
              <input [(ngModel)]="model.CONTACTPERSON" class="form-control" formControlName="editcontactperson"
                     name="editcontactperson"/>
            </label>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-3 col-form-label">Date of Last Update</label>
          <div class="col-xl-6">
            <label>
              <input #dp="bsDatepicker" [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }" bsDatepicker class="form-control"
                     formControlName="editupdatedate"
                     name="editupdatedate" placeholder="Last Updated Date" title="Today's Date"
                     type="text">
            </label>

          </div>
        </div>
        <!--            <div class="form-group row">-->
        <!--              <label class="col-xl-3 col-form-label">Active</label>-->
        <!--              <div class="d-flex align-items-center mb-3">-->
        <!--                <div class="ml-auto">-->
        <!--                  <label class="switch switch-lg m-0">-->
        <!--                    <input type="checkbox" checked="checked" name="active" id="active"-->
        <!--                           #active="ngModel" [(ngModel)]="model.active" />-->
        <!--                    <span></span>-->
        <!--                  </label>-->
        <!--                </div>-->
        <!--              </div>-->
        <!--            </div>-->

        <div class="form-group row">
          <label class="col-xl-3 col-form-label"></label>
          <div class="col-xl-6">
            <button class="btn btn-sm btn-outline-primary" tooltip="Updates the edited Insurance" type="submit">Update
            </button>
            <button (click)="closeeditInsuranceModal()" class="btn btn-sm btn-outline-danger"
                    type="button">Back
            </button>
            <button (click)="deleteInsurance()" class="btn btn-sm btn-danger" style="text-align: center "
                    tooltip="Delete an Insurance" type="button">Delete
            </button>


          </div>
        </div>
      </form>
    </div>
  </div>
</ngx-smart-modal>

