<div class="content-heading">
  <div>
    Notifications
    <span class="text-sm d-none d-sm-block">A complete set of notification posibilities</span>
    <!-- Breadcrumb below title-->
    <ol class="breadcrumb breadcrumb px-0 pb-0">
      <li class="breadcrumb-item"><a href="#">Home</a>
      </li>
      <li class="breadcrumb-item"><a href="#">Elements</a>
      </li>
      <li class="breadcrumb-item active">Notifications</li>
    </ol>
  </div>
  <!-- Breadcrumb right aligned-->
  <ol class="breadcrumb ml-auto">
    <li class="breadcrumb-item"><a href="#">Home</a>
    </li>
    <li class="breadcrumb-item"><a href="#">Elements</a>
    </li>
    <li class="breadcrumb-item active">Notifications</li>
  </ol>
</div>
<!-- Breadcrumb next to view title-->
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#">Home</a>
  </li>
  <li class="breadcrumb-item"><a href="#">Elements</a>
  </li>
  <li class="breadcrumb-item active">Notifications</li>
</ol>
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#">Home</a>
  </li>
  <li class="breadcrumb-item"><a href="#">Elements</a>
  </li>
  <li class="breadcrumb-item active">Notifications</li>
</ol>
<div class="card card-default">
  <div class="card-header">Toaster notifications for Angular</div>
  <div class="card-body">
    <toaster-container [toasterconfig]="toasterconfig"></toaster-container>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Title</label>
          <label>
            <input [(ngModel)]="toaster.title" class="form-control" placeholder="Enter a title..." type="text"/>
          </label>
        </div>
        <div class="form-group">
          <label>Message</label>
          <label>
            <textarea [(ngModel)]="toaster.text" class="form-control" placeholder="Enter a message" rows="5"></textarea>
          </label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-lg-6">
            <!-- icon-classes: .toast-error,.toast-info,.toast-wait,.toast-success,.toast-warning-->
            <label>Toast Type</label>
            <div class="c-radio">
              <label>
                <input [(ngModel)]="toaster.type" name="toasts" type="radio" value="success"/>
                <span class="fa fa-circle"></span>Success</label>
            </div>
            <div class="c-radio">
              <label>
                <input [(ngModel)]="toaster.type" name="toasts" type="radio" value="info"/>
                <span class="fa fa-circle"></span>Info</label>
            </div>
            <div class="c-radio">
              <label>
                <input [(ngModel)]="toaster.type" name="toasts" type="radio" value="wait"/>
                <span class="fa fa-circle"></span>Wait</label>
            </div>
            <div class="c-radio">
              <label>
                <input [(ngModel)]="toaster.type" name="toasts" type="radio" value="warning"/>
                <span class="fa fa-circle"></span>Warning</label>
            </div>
            <div class="c-radio">
              <label>
                <input [(ngModel)]="toaster.type" name="toasts" type="radio" value="error"/>
                <span class="fa fa-circle"></span>Error</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button (click)="pop()" class="btn btn-info">Show a Toaster</button>
  </div>
</div>
<div class="row">
  <div class="col-xl-6">
    <!-- START card-->
    <div class="card card-default">
      <div class="card-header">Alert Styles</div>
      <div class="card-body">
        <alert type="success">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a class="alert-link" href="#">Alert
          Link</a>
        </alert>
        <alert type="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a class="alert-link" href="#">Alert
          Link</a>
        </alert>
        <div>
          <alert (close)="closeAlert(i)" *ngFor="let alert of alerts;let i = index" [type]="alert.type"
                 dismissible="true">
            {{ alert?.msg }}
          </alert>
          <button (click)="addAlert()" class='btn btn-primary' type="button">Add Alert</button>
        </div>
      </div>
    </div>
    <!-- END card-->
    <!-- START card-->
    <div class="card card-default">
      <div class="card-header">Progress Bar
        <div class="btn-group float-right">
          <button (click)="randomStacked()" class="btn btn-xs btn-primary" type="button">Stacked</button>
          <button (click)="random()" class="btn btn-xs btn-primary" type="button">Randomize</button>
        </div>
      </div>
      <div class="card-body">
        <p class="text-bold">Static</p>
        <div class="row mb-2">
          <div class="col-md-4">
            <progressbar value="55"></progressbar>
          </div>
          <div class="col-md-4">
            <progressbar class="progress-striped" type="warning" value="22">22%</progressbar>
          </div>
          <div class="col-md-4">
            <progressbar class="progress-striped active" max="200" type="danger" value="166"><i>166 / 200</i>
            </progressbar>
          </div>
        </div>
        <p class="text-bold">Dynamic</p>
        <progressbar [max]="max" [value]="dynamic" class="mb-2"><span
          style="color:white; white-space:nowrap;">{{dynamic}} / {{max}}</span>
        </progressbar>
        <p class="text-bold">Stacked</p>
        <progressbar [max]="100" [value]="stacked" class="progress"></progressbar>
      </div>
    </div>
    <!-- END card-->
  </div>
  <div class="col-xl-6">
    <!-- START card-->
    <div class="card card-default">
      <div class="card-header">Modals</div>
      <div class="card-body">
        <!-- CLassic modal -->
        <button (click)="classicModal.show()" class="btn btn-primary mr-1" type="button">Classc modal</button>
        <!-- Small modal -->
        <button (click)="smModal.show()" class="btn btn-primary" type="button">Small modal</button>
        <!-- Small modal -->
        <div #smModal="bs-modal" aria-hidden="true" aria-labelledby="mySmallModalLabel" bsModal class="modal fade"
             role="dialog" tabindex="-1">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Small modal</h4>
                <button (click)="smModal.hide()" aria-label="Close" class="close" type="button">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                ...
              </div>
            </div>
          </div>
        </div>
        <!-- Classc modal -->
        <div #classicModal="bs-modal" aria-hidden="true" aria-labelledby="mySmallModalLabel" bsModal class="modal fade"
             role="dialog" tabindex="-1">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Classic modal</h4>
                <button (click)="classicModal.hide()" aria-label="Close" class="close" type="button">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END card-->
    <!-- START card-->
    <div class="card card-default">
      <div class="card-header">Ratings</div>
      <div class="card-body">
        <h4>Default</h4>
        <rating (onHover)="hoveringOver($event)" (onLeave)="resetStar()" [(ngModel)]="rate" [max]="maxRat"
                [readonly]="isReadonly" [titles]="['one','two','three']"></rating>
        <span [ngClass]="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}"
              [ngStyle]="{display: (overStar && !isReadonly) ? 'inline' : 'none'}"
              class="label">{{percent}}%</span>
        <pre class="card card-block card-header"
             style="margin:15px 0;">Rate: <b>{{rate}}</b> - Readonly is: <i>{{isReadonly}}</i> - Hovering over: <b>{{overStar || "none"}}</b></pre>
        <button (click)="rate = 0" [disabled]="isReadonly" class="btn btn-sm btn-danger" type="button">Clear
        </button>
        <button (click)="isReadonly = ! isReadonly" class="btn btn-sm btn-primary" type="button">Toggle Readonly
        </button>
        <hr/>
        <h4>Custom icons</h4>
        <div>
          <rating [(ngModel)]="x" [customTemplate]="t" [max]="10" style="color: #0275d8;font-size: 20px;"></rating>
          <b>(<i>Rate:</i> {{x}})</b>
          <ng-template #t let-index="index" let-value="value">{{index
          < value ? '&#9745;' : '&#9744;'}}</ng-template>
        </div>
        <div>
          <rating [(ngModel)]="y" [customTemplate]="tt" [max]="10"></rating>
          <b>(<i>Rate:</i> {{y}})</b>
          <ng-template #tt let-i="index" let-v="value">
            <button class="btn btn-{{i < v ? 'warning' : 'default'}}">
              {{i
            < v ? '&#9733;' : '&#9734;'}} </button>
          </ng-template>
        </div>
      </div>
    </div>
    <!-- END card-->
  </div>
</div>
<div class="card card-default">
  <div class="card-header">Popovers</div>
  <div class="card-body">
    <button class="btn btn-primary mb-3" container="body"
            popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." type="button">
      Live demo
    </button>
    <p class="text-bold">Four directions</p>
    <button class="btn btn-default btn-secondary" container="body"
            placement="top" popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
            popoverTitle="Popover on top" type="button">
      Popover on top
    </button>
    <button class="btn btn-default btn-secondary" container="body"
            placement="right" popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
            popoverTitle="Popover on right" type="button">
      Popover on right
    </button>
    <button class="btn btn-default btn-secondary" container="body"
            placement="auto" popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
            popoverTitle="Popover auto" type="button">
      Popover auto
    </button>
    <button class="btn btn-default btn-secondary" container="body"
            placement="left" popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
            popoverTitle="Popover on left" type="button">
      Popover on left
    </button>
    <button class="btn btn-default btn-secondary" placement="bottom"
            popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on bottom"
            type="button">
      Popover on bottom
    </button>
  </div>
</div>
<!-- START card-->
<div class="card card-default">
  <div class="card-header">Tooltips</div>
  <div class="card-body">
    <div class="form-group">
      <label>Dynamic Tooltip Text</label>
      <label>
        <input [(ngModel)]="dynamicTooltipText" class="form-control" type="text">
      </label>
    </div>
    <div class="form-group">
      <label>Dynamic Tooltip Popup Text</label>
      <label>
        <input [(ngModel)]="dynamicTooltip" class="form-control" type="text">
      </label>
    </div>
    <p>
      Pellentesque <a [tooltip]="dynamicTooltip" href="#">{{dynamicTooltipText}}</a>, sit amet venenatis urna cursus
      eget nunc scelerisque viverra mauris, in aliquam. Tincidunt lobortis feugiat vivamus at
      <a href="#" placement="left" tooltip="On the Left!">left</a> eget arcu dictum varius duis at consectetur lorem.
      Vitae elementum curabitur
      <a href="#" placement="right" tooltip="On the Right!">right</a> nunc sed velit dignissim sodales ut eu sem integer
      vitae. Turpis egestas
      <a href="#" placement="bottom" tooltip="On the Bottom!">bottom</a> pharetra convallis posuere morbi leo urna,
      <a [tooltipAnimation]="false" href="#" tooltip="I don't fade. :-(">fading</a> at elementum eu, facilisis sed odio
      morbi quis commodo odio. In cursus
      <a delay='1000' href="#" tooltip='appears with delay'>delayed</a> turpis massa tincidunt dui ut. nunc sed velit
      dignissim sodales ut eu sem integer vitae. Turpis egestas
    </p>
    <p>
      I can even contain HTML. <a (tooltipStateChanged)="tooltipStateChanged($event)" [tooltip]="popTemplate" href="#">Check
      me out!</a>
      <ng-template #popTemplate>
        <div [innerHtml]="htmlTooltip"></div>
      </ng-template>
    </p>
    <ng-template #toolTipTemplate>
      <h4>Tool tip custom content defined inside a template</h4>
      <h5>With context binding: {{ttcontent}}</h5>
    </ng-template>
    <p>
      Or use a TemplateRef. <a [tooltip]="toolTipTemplate" href="#">Check me out!</a>
    </p>
    <p>
      Programatically show/hide tooltip
      <a #tooltip="bs-tooltip" (tooltipStateChanged)="tooltipStateChanged($event)" [tooltip]="'Foo'" href="#">Check me
        out!</a>
      <button (click)="tooltip.show()" class="btn btn-sm btn-primary">Show tooltip</button>
      <button (click)="tooltip.hide()" class="btn btn-sm btn-danger">Hide tooltip</button>
    </p>
    <p>
      I can have a custom class. <a href="#" tooltip="I can have a custom class applied to me!">Check me out!</a>
    </p>
    <form role="form">
      <div class="form-group">
        <label>Or use custom triggers, like focus: </label>
        <label>
          <input class="form-control" name="clickMe" placement="top" tooltip="See? Now click away..." triggers="focus"
                 type="text" value="Click me!"/>
        </label>
      </div>
    </form>
  </div>
</div>
<!-- END card-->
