<!-- START action buttons-->
<div class="d-flex mb-2">
  <div class="btn-group">
    <button class="btn btn-secondary btn-sm" type="button">
      <em class="fas fa-reply text-gray-dark"></em>
    </button>
    <button class="btn btn-secondary btn-sm" type="button">
      <em class="fas fa-reply-all text-gray-dark"></em>
    </button>
    <button class="btn btn-secondary btn-sm" type="button">
      <em class="fas fa-share text-gray-dark"></em>
    </button>
  </div>
  <div class="btn-group ml-auto">
    <button class="btn btn-secondary btn-sm" type="button">
      <em class="fa fa-exclamation text-gray-dark"></em>
    </button>
    <button class="btn btn-secondary btn-sm" type="button">
      <em class="fa fa-times text-gray-dark"></em>
    </button>
  </div>
</div>
<!-- END action buttons-->
<div class="card card-default">
  <div class="card-body">
    <p *ngIf="!folderMailsCount()" class="lead text-center">No mails here</p>
    <table *ngIf="folderMailsCount()" class="table table-hover mb-mails">
      <tbody>
      <tr *ngFor="let mail of folderMails()" [class.mb-mail-active]="mail.unread">
        <td class="d-none d-lg-table-cell">
          <div class="checkbox c-checkbox">
            <label>
              <input type="checkbox"/>
              <span class="fa fa-check"></span>
            </label>
          </div>
        </td>
        <td class="d-none d-lg-table-cell text-center">
          <em [ngClass]="mail.folder=='starred'?'fas fa-star text-warning':'far fa-star text-muted'" class="fa-lg"></em>
        </td>
        <td [routerLink]="['/extras/mailbox/view',mail.id]">
          <div class="d-flex">
            <img [src]="mail.from.avatar" alt="Mail Avatar" class="mb-mail-avatar mr-2"/>
            <div class="mb-mail-meta">
              <div class="mb-mail-subject">{{mail.subject}}</div>
              <div class="mb-mail-from">{{mail.from.name}}</div>
              <div [innerHTML]="mail.content" class="mb-mail-preview d-none d-md-block"></div>
            </div>
            <div class="mb-mail-date ml-auto">{{mail.date}}</div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
