<div class="content-heading">
  <div>Viewall:
    <small>mcoopcash accounts in arrears</small></div>
</div>
<button (click)="onBtnExportDataAsExcel()" type="button" class="btn btn-labeled btn-warning">
  <span class="btn-label"><i class="fas fa-download"></i></span>Export Excel</button>
<ag-grid-angular #agGrid style="width: 100%; height: 700px;" id="myGrid" class="ag-theme-balham"
                 [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [rowModelType]="rowModelType"
                 [maxBlocksInCache]="maxBlocksInCache" [animateRows]="true"
                 [floatingFilter]="true"
                 [rowData]="rowData"
                 [pagination]="true" [enableSorting]="true" [enableFilter]="true"
                 [modules]="modules"
                 [enableColResize]="true" [paginationAutoPageSize]="true" (rowClicked)='onRowDoubleClicked($event)'
                 (gridReady)="onGridReady($event)"></ag-grid-angular>
