<div class="content-heading">Chart JS</div>
<div class="container-fluid container-lg">
  <div class="row mb-4">
    <div class="col-xl-6">
      <h4>Line Chart</h4>
      <div>
        <canvas [chartType]="'line'" [colors]="lineColors" [datasets]="lineData.datasets" [labels]="lineData.labels"
                [legend]="false" [options]="lineOptions" baseChart height="120"></canvas>
      </div>
    </div>
    <div class="col-xl-6">
      <h4>Bar Chart</h4>
      <div>
        <canvas [chartType]="'bar'" [colors]="barColors" [datasets]="barData.datasets" [labels]="barData.labels" [legend]="false"
                [options]="barOptions" baseChart height="120"></canvas>
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-xl-6">
      <h4>Polar Area Chart</h4>
      <div>
        <canvas [chartType]="'polarArea'" [colors]="polarColors" [datasets]="polarData.datasets" [labels]="polarData.labels"
                [legend]="false" [options]="polarOptions" baseChart height="180"></canvas>
      </div>
    </div>
    <div class="col-xl-6">
      <h4>Radar Chart</h4>
      <div>
        <canvas [chartType]="'radar'" [colors]="radarColors" [datasets]="radarData.datasets" [labels]="radarData.labels"
                [legend]="false" [options]="radarOptions" baseChart height="180"></canvas>
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-xl-6">
      <h4>Pie Chart</h4>
      <div>
        <canvas [chartType]="'pie'" [colors]="pieColors" [datasets]="pieData.datasets" [labels]="pieData.labels" [legend]="false"
                [options]="pieOptions" baseChart height="80"></canvas>
      </div>
    </div>
    <div class="col-xl-6">
      <h4>Doughnut Chart</h4>
      <div>
        <canvas [chartType]="'doughnut'" [colors]="doughnutColors" [datasets]="doughnutData.datasets" [labels]="doughnutData.labels"
                [legend]="false" [options]="doughnutOptions" baseChart height="80"></canvas>
      </div>
    </div>
  </div>
</div>
