<ngx-spinner bdColor="rgba(51,51,51,0.8)" color="#fff" size="medium" type="ball-spin-fade">
  <p style="font-size: 20px; color: white">Processing ...</p>
</ngx-spinner>
<div>
  <div class="card">
    <div class="card-header">
      <strong>New Yard activity </strong> capture
    </div>
    <!--    (ngSubmit)="onSubmitted($event)"-->
    <form (ngSubmit)="onSubmit(newcase)" [formGroup]="newcase" autocomplete="off" novalidate>
      <div class="card-body">
        <div class="row">
          <div class="col-xl-2 col-md-3">
            Search
          </div>
          <div class="col-md-9">
            <div class="col-md-12">
              <label for="typeahead-http"></label>
              <input [(ngModel)]="model" [class.is-invalid]="searchFailed" [inputFormatter]="inputFormatBandListValue"
                     [ngbTypeahead]="search" [resultFormatter]="resultFormatBandListValue" class="form-control"
                     formControlName="Search"
                     id="typeahead-http" placeholder="Search" type="text" value="search"/>
              <!--              <small *ngIf="searching" class="form-text text-muted">searching...</small>-->
              <img *ngIf="searching" alt="Loading Icon" src="assets/img/user/loading.gif">
              <div>
                <!--                <p>{{model | json}}</p>-->
              </div>
              <div *ngIf="searchFailed" class="invalid-feedback">Sorry, suggestions could not be loaded.</div>
            </div>
          </div>
        </div>

        <div class="row" style="padding-top: 20px">
          <div class="col-xl-2 col-md-3">
            Customer Number
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <input [ngModel]="model.CUSTNUMBER" class="form-control"
                     formControlName="custnumber"
                     required="" type="text">
            </div>
            <!--            <span *ngIf="!newcase.get('custnumber').valid" class="validation-error">Customer Number Required</span>-->
          </div>
          <div class="col-md-3">
            Account Number
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <input [ngModel]="model.ACCNUMBER"
                     class="form-control" formControlName="accountnumber" id="accountnumber" type="text">
            </div>
          </div>
        </div>

        <div class="row" style="padding-top: 20px">
          <div class="col-xl-2 col-md-3">
            Customer Name
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <input [ngModel]="model.CLIENT_NAME" class="form-control" formControlName="customername" id="customername"
                     type="text">
            </div>
          </div>
          <div class="col-md-3">
            AROCODE
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <input [ngModel]="model.AROCODE" class="form-control"
                     formControlName="arocode" id="arocode" type="text">
            </div>
          </div>
        </div>

        <div class="row" style="padding-top: 20px">
          <div class="col-xl-2 col-md-3">
            FILENO
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <input [ngModel]="model.FILENO" class="form-control" formControlName="fileno" id="fileno" type="text">
            </div>
          </div>
          <div class="col-md-3">
            VEHICLEREGNO
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <input class="form-control" formControlName="vehicleregno" id="vehicleregno" type="text">
            </div>
          </div>
        </div>

        <div class="row" style="padding-top: 20px">
          <div class="col-xl-2 col-md-3">
            ACCBALANCE
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <input [ngModel]="model.OUSTBALANCE" class="form-control" formControlName="accbalance" id="accbalance"
                     type="text">
            </div>
          </div>
          <div class="col-md-3">
            VEHICLEMAKE
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <input [ngModel]="model.REGION" class="form-control" formControlName="vehiclemake" id="vehiclemake"
                     type="text">
            </div>
          </div>
        </div>

        <div class="row" style="padding-top: 20px">
          <div class="col-xl-2 col-md-3">
            Stage Date
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <div class="input-group">
                <input bsDatepicker class="form-control" formControlName="stagedate" placeholder="Dateinput"
                       placement="top"
                       type="text">
                <div class="input-group-append">
                  <button class="btn btn-outline-primary" type="button"><span><i
                    class="fa fa-calendar"></i>
                    </span></button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            Date Input
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <div class="input-group">
                <input #dp="bsDatepicker" bsDatepicker class="form-control" formControlName="dateinput" ngModel
                       placeholder="Dateinput"
                       placement="top" type="text">
                <div class="input-group-append">
                  <button class="btn btn-outline-primary" type="button"><span><i
                    class="fa fa-calendar"></i>
                    </span></button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="padding-top: 20px">
          <div class="col-xl-2 col-md-3">
            Owner
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <input [ngModel]="model.COLOFFICER" class="form-control" formControlName="owner" id="owner" type="text">
            </div>
          </div>
          <!--          <div class="col-md-3">-->
          <!--            Town-->
          <!--          </div>-->
          <!--          <div  class="col-md-3">-->
          <!--            <div class="col-md-12">-->
          <!--              <input class="form-control" id="town" formControlName="town" ngModel type="text" >-->
          <!--            </div>-->
          <!--          </div>-->
        </div>

      </div>
      <div class="card-footer">
        <button [disabled]="!newcase.valid" class="btn btn-sm btn-primary" type="submit"><i
          class="fa fa-dot-circle-o"></i> Submit
        </button>
        <a [routerLink]="['/yards/allcases']" class="btn btn-sm btn-danger" type="reset"><i class="fa fa-ban"></i> Reset</a>
      </div>
    </form>
    <!--<pre>{{actionForm.valid | json}}</pre>
    <pre>{{actionForm.value | json}}</pre>-->
  </div>
</div>

