<ng2-slim-loading-bar [color]="'red'" [height]="'10px'"></ng2-slim-loading-bar>

<svg height="0" version="1.1" width="0" xmlns="http://www.w3.org/2000/svg">
  <defs>
    <filter id="blur" x="0" y="0">
      <feGaussianBlur stdDeviation="3"/>

    </filter>
  </defs>
</svg>
<ngx-smart-modal #myModal [closable]="false" [dismissable]="false" [escapable]="false" identifier="lockModal">
  <div class="card b0">
    <div class="card-body">
      <div style="text-align: center!important;">
        <img alt="App Logo"
             class="img-fluid" src="assets/img/user/coop.jpg" style="max-width:80% !important; height:80px !important; margin-top:6px !important;border-radius: 50%;"/>
      </div>
      <p class="text-center">Please login to unlock your screen.</p>
      <form (submit)="submitFormm($event, vallForm.value)" [formGroup]="vallForm" name="vallForm" novalidate=""
            role="form">
        <div class="form-group">
          <div class="input-group with-focus">
            <label for="username"></label><input class="form-control border-right-0" formControlName="username" id="username"
                                                 name="username" placeholder="username"
                                                 type="text"/>
            <div class="input-group-append">
                                <span class="input-group-text text-muted bg-transparent border-left-0">
                                    <em class="fa fa-user"></em>
                                </span>
            </div>
          </div>
          <div *ngIf="vallForm.controls['username'].hasError('required') && (vallForm.controls['username'].dirty || vallForm.controls['username'].touched)"
               class="text-danger">
            Username is required
          </div>
        </div>
        <div class="form-group">
          <div class="input-group with-focus">
            <label for="password"></label><input class="form-control border-right-0" formControlName="password" id="password"
                                                 name="password"
                                                 placeholder="password" type="password"/>
            <div class="input-group-append">
                                <span class="input-group-text text-muted bg-transparent border-left-0">
                                    <em class="fa fa-lock"></em>
                                </span>
            </div>
          </div>
          <div *ngIf="vallForm.controls['password'].hasError('required') && (vallForm.controls['password'].dirty || vallForm.controls['password'].touched)"
               class="text-danger">
            Password is required
          </div>
        </div>
        <div class="d-flex">
          <div class="ml-auto">
            <button [disabled]="!vallForm.valid" class="btn btn-sm btn-primary" type="submit">Unlock</button>
          </div>
        </div>
        <div *ngIf="loading" class="loader"></div>
        <div *ngIf="error" class="alert alert-danger fade show">
          <span class="close" data-dismiss="alert">×</span>
          <strong>{{error}}</strong>
        </div>


        <div class="m-t-20 m-b-40 p-b-40 text-inverse">
          Not <b>{{username}}</b>? Click <a (click)="newsession()" class="text-success" href="#"
                                            tooltip="Start New Session">here</a> to start New Session.
        </div>
      </form>
    </div>
  </div>
</ngx-smart-modal>
<ngx-smart-modal [escapable]="false" [closable]="false" [dismissable]="true"  identifier="reminderModal">
<h2>this works men</h2>
</ngx-smart-modal>

<router-outlet></router-outlet>
