<div class="content-heading">
  <div>Demand Letters Due
    <small>demand letters not send either manual or auto</small></div>
</div>
<!-- START card-->
<div class="card card-default">
  <div class="card-header">Demands Due and NOT sent: {{radioModel || 'ALL'}}</div>
  <!-- START box placeholder
<div class="box-placeholder"></div>-->
  <div class="row">
    <div class="col-xl-4">
      <div (click)="refreshgrid()" class="btn-group">
        <label [(ngModel)]="radioModel" btnRadio="Demand1" class="btn btn-outline-success" uncheckable>Demand-1 <span
          class="badge badge-danger">{{total?.DEMAND1}}</span></label>
        <label [(ngModel)]="radioModel" btnRadio="Demand2" class="btn btn-outline-success" uncheckable>Demand-2 <span
          class="badge badge-danger">{{total?.DEMAND2}}</span></label>
        <label [(ngModel)]="radioModel" btnRadio="Prelisting" class="btn btn-outline-info" uncheckable>Pre-listing <span
          class="badge badge-danger">{{total?.PRELISTING}}</span></label>
        <label [(ngModel)]="radioModel" btnRadio="Day40" class="btn btn-outline-warning" uncheckable>40Day <span
          class="badge badge-danger">{{total?.DAY40}}</span></label>
        <label [(ngModel)]="radioModel" btnRadio="Day90" class="btn btn-outline-inverse" uncheckable>90Day <span
          class="badge badge-danger">{{total?.DAY90}}</span></label>
        <label [(ngModel)]="radioModel" btnRadio="Postlisting" class="btn btn-outline-danger" uncheckable>Post-listing
          <span class="badge badge-danger">{{total?.POSTLISTING}}</span></label>
      </div>
    </div>
    <div class="col-xl-4"></div>
    <div class="col-xl-4">
      <form class="form-horizontal">
        <div class="input-group">
          <label>
            <select #column class="form-control">
              <option value="">Nothing</option>
              <option value="SUPPORT">SECTION</option>
              <option value="COLOFFICER">COLOFFICER</option>
              <option value="BRANCHCODE">BRANCHCODE</option>
            </select>
          </label>

          <label>
            <input #tvalue class="form-control" placeholder="Search ..." type="text"/>
          </label>
          <span class="input-group-btn">
              <button (click)="filterfunction(column.value, tvalue.value)" class="btn btn-primary" type="button">
                <em class="fa fa-search"></em>
              </button>
            </span>
        </div>
      </form>
    </div>
  </div>


  <!-- END box placeholder-->
  <jqxGrid #myGrid (onCellselect)="myGridOnCellSelect($event)"
           [altrows]="true" [autoheight]="false" [columns]="columns" [columnsresize]="true"
           [enabletooltips]="true" [filterable]="true"
           [height]="550" [pageable]="true" [selectionmode]="'singlecell'" [sortable]="true" [sortable]="true" [source]="dataAdapter"
           [theme]="'energyblue'" [width]="'100%'">
  </jqxGrid>

</div>
