<div class="content-heading">
  <div>Todo List
    <small>Keeping track of tasks</small></div>
  <button (click)="clearAll()" class="ml-auto btn btn-danger">Clear All Items</button>
</div>
<div class="row todo">
  <div class="col-lg-3">
    <div class="pr-3">
      <form (submit)="addTodo()" class="mb-4">
        <div class="form-group">
          <label>
            <input [(ngModel)]="todo.title" class="form-control" name="todoTitle" placeholder="Task title.." required="required"
                   type="text"/>
          </label>
        </div>
        <div class="form-group">
          <label>
            <textarea [(ngModel)]="todo.description" class="form-control" name="todoDescription"
                      placeholder="Type a description.." rows="8"></textarea>
          </label>
        </div>
        <button class="btn btn-primary btn-block" type="submit">{{editingTodo ? 'Edit Todo' : 'Add Todo'}}</button>
      </form>
    </div>
  </div>
  <div class="col-lg-9 todo-item-list">
    <div *ngIf="!items.length" class="lead text-muted text-center">No tasks...</div>
    <accordion [closeOthers]="true">
      <accordion-group *ngFor="let item of items; let i = index"
                       [isDisabled]="item.complete" panelClass="todo-item {{item.complete?'todo-complete':''}}">
        <div accordion-heading>
          <span (click)="removeTodo($index, $event)" class="close">×</span>
          <div class="inline checkbox c-checkbox">
            <label (click)="$event.stopPropagation()" class="mb-0">
              <input [(ngModel)]="item.complete" [disabled]="editingTodo" id="{{'todo-item-'+$index}}" type="checkbox"/>
              <span class="fa fa-check"></span>
            </label>
          </div>
          <span [innerHTML]="item.todo.title" class="todo-title">Task title</span>
          <span (click)="editTodo(i, $event)" class="todo-edit fas fa-pencil-alt"></span>
        </div>
        <p>
          <span [innerHTML]="item.todo.description"></span>
          <span *ngIf="item.todo.description === ''" class="text-muted">No item description</span>
        </p>
      </accordion-group>
    </accordion>
    <p *ngIf="items.length &gt; 0" class="text-right">
      <span>{{ totalCompleted() }} Completed</span>-
      <span>{{ totalPending() }} Pending</span>
    </p>
  </div>
</div>
