<!-- START Sidebar (left)-->
<div class="aside-inner">
  <nav [class.show-scrollbar]="settings.getLayoutSetting('asideScrollbar')" class="sidebar">

    <!-- START sidebar nav-->
    <ul class="sidebar-nav">

      <!-- START user info-->
      <li class="has-user-block">
        <app-userblock></app-userblock>
      </li>
      <!-- END user info-->



      <li *ngFor='let item of menuItems' [ngClass]="{'nav-heading': item.heading}" [routerLinkActive]="['active']">
        <!-- menu heading -->
        <span *ngIf="item.heading">{{(item.translate | translate) || item.text}}</span>
        <!-- external links -->
        <a *ngIf="!item.heading && !item.submenu && item.elink" [attr.href]="item.elink" [attr.target]="item.target"
           href title="{{item.text}}">
          <span *ngIf="item.alert" [ngClass]="item.label || 'badge badge-success'"
                class="float-right">{{item.alert}}</span>
          <em *ngIf="item.icon" class="{{item.icon}}"></em>
          <span>{{(item.translate | translate) || item.text}}</span>
        </a>
        <!-- single menu item -->
        <a (click)="toggleSubmenuClick($event)" (mouseenter)="toggleSubmenuHover($event)" *ngIf="!item.heading && !item.submenu && !item.elink" [attr.route]="item.link"
           [routerLink]="item.link"
           href title="{{item.text}}">
          <span *ngIf="item.alert" [ngClass]="item.label || 'badge badge-success'"
                class="float-right">{{item.alert}}</span>
          <em *ngIf="item.icon" class="{{item.icon}}"></em>
          <span>{{(item.translate | translate) || item.text}}</span>
        </a>
        <!-- has submenu -->
        <a (click)="toggleSubmenuClick($event)" (mouseenter)="toggleSubmenuHover($event)" *ngIf="!item.heading && item.submenu"
           href title="{{item.text}}">
          <span *ngIf="item.alert" [ngClass]="item.label || 'badge badge-success'"
                class="float-right">{{item.alert}}</span>
          <em *ngIf="item.icon" class="{{item.icon}}"></em>
          <span>{{(item.translate | translate) || item.text}} </span> <em class="fa fa-angle-right"></em>
        </a>
        <!-- SUBLEVEL -->
        <ul *ngIf="item.submenu" [routerLinkActive]="['opening']" class="sidebar-nav sidebar-subnav">
          <li class="sidebar-subnav-header">{{(item.translate | translate) || item.text}}</li>
          <li *ngFor='let subitem of item.submenu' [routerLinkActive]="['active']">
            <!-- sublevel: external links -->
            <a *ngIf="!subitem.heading && !subitem.submenu && subitem.elink" [attr.href]="subitem.elink" [attr.target]="subitem.target"
               href title="{{subitem.text}}">
              <span *ngIf="subitem.alert" [ngClass]="subitem.label || 'badge badge-success'"
                    class="float-right">{{subitem.alert}}</span>
              <em *ngIf="subitem.icon" class="{{subitem.icon}}"></em>
              <span>{{(subitem.translate | translate) || subitem.text}}</span>
            </a>
            <!-- sublevel: single menu item  -->
            <a *ngIf="!subitem.submenu && !subitem.elink" [attr.route]="subitem.link" [routerLink]="subitem.link" href
               title="{{subitem.text}}">
              <span *ngIf="subitem.alert" [ngClass]="subitem.label || 'badge badge-success'"
                    class="float-right">{{subitem.alert}}</span>
              <em *ngIf="subitem.icon" class="{{subitem.icon}}"></em>
              <span>{{(subitem.translate | translate) || subitem.text}}</span>
            </a>
            <!-- sublevel: has submenu -->
            <a (click)="toggleSubmenuClick($event)" (mouseenter)="toggleSubmenuHover($event)" *ngIf="subitem.submenu"
               href title="{{subitem.text}}">
              <span *ngIf="subitem.alert" [ngClass]="subitem.label || 'badge badge-success'"
                    class="float-right">{{subitem.alert}}</span>
              <em *ngIf="subitem.icon" class="{{subitem.icon}}"></em>
              <span>{{(subitem.translate | translate) || subitem.text}}</span> <em
              class="fa fa-angle-right float-right"></em>
            </a>
            <!-- SUBLEVEL 2 -->
            <ul *ngIf="subitem.submenu" [routerLinkActive]="['opening']" class="sidebar-nav sidebar-subnav level2">
              <li *ngFor='let subitem2 of subitem.submenu' [routerLinkActive]="['active']">
                <!-- sublevel 2: single menu item  -->
                <a *ngIf="!subitem2.submenu" [attr.route]="subitem2.link" [routerLink]="subitem2.link" href
                   title="{{subitem2.text}}">
                  <span *ngIf="subitem2.alert" [ngClass]="subitem2.label || 'badge badge-success'"
                        class="float-right">{{subitem2.alert}}</span>
                  <em *ngIf="subitem2.icon" class="{{subitem2.icon}}"></em>
                  <span>{{(subitem2.translate | translate) || subitem2.text}}</span>
                </a>
                <!-- sublevel2: has submenu -->
                <a (click)="toggleSubmenuClick($event)" (mouseenter)="toggleSubmenuHover($event)" *ngIf="subitem2.submenu"
                   href title="{{subitem2.text}}">
                  <span *ngIf="subitem2.alert" [ngClass]="subitem2.label || 'badge badge-success'"
                        class="float-right">{{subitem2.alert}}</span>
                  <em *ngIf="subitem2.icon" class="{{subitem2.icon}}"></em>
                  <span>{{(subitem2.translate | translate) || subitem2.text}}</span>
                </a>
                <!-- SUBLEVEL 3 -->
                <ul *ngIf="subitem2.submenu" [routerLinkActive]="['opening']" class="sidebar-nav sidebar-subnav level3">
                  <li *ngFor='let subitem3 of subitem2.submenu' [routerLinkActive]="['active']">
                    <!-- sublevel 2: single menu item  -->
                    <a *ngIf="!subitem3.submenu" [attr.route]="subitem3.link" [routerLink]="subitem3.link" href
                       title="{{subitem3.text}}">
                      <span *ngIf="subitem3.alert" [ngClass]="subitem3.label || 'badge badge-success'"
                            class="float-right">{{subitem3.alert}}</span>
                      <em *ngIf="subitem3.icon" class="{{subitem3.icon}}"></em>
                      <span>{{(subitem3.translate | translate) || subitem3.text}}</span>
                    </a>
                    <!-- sublevel3: has submenu -->
                    <a (click)="toggleSubmenuClick($event)" (mouseenter)="toggleSubmenuHover($event)" *ngIf="subitem3.submenu"
                       href title="{{subitem3.text}}">
                      <span *ngIf="subitem3.alert" [ngClass]="subitem3.label || 'badge badge-success'"
                            class="float-right">{{subitem3.alert}}</span>
                      <em *ngIf="subitem3.icon" class="{{subitem3.icon}}"></em>
                      <span>{{(subitem3.translate | translate) || subitem3.text}}</span>
                    </a>
                    <!-- SUBLEVEL 4 -->
                    <ul *ngIf="subitem3.submenu" [routerLinkActive]="['opening']"
                        class="sidebar-nav sidebar-subnav level3">
                      <li *ngFor='let subitem4 of subitem3.submenu' [routerLinkActive]="['active']">
                        <!-- sublevel 2: single menu item  -->
                        <a *ngIf="!subitem4.submenu" [attr.route]="subitem4.link" [routerLink]="subitem4.link" href
                           title="{{subitem4.text}}">
                          <span *ngIf="subitem4.alert" [ngClass]="subitem4.label || 'badge badge-success'"
                                class="float-right">{{subitem4.alert}}</span>
                          <em *ngIf="subitem4.icon" class="{{subitem4.icon}}"></em>
                          <span>{{(subitem4.translate | translate) || subitem4.text}}</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              <li>
            </ul>
          <li>
        </ul>
      </li>

    </ul>
    <!-- END sidebar nav-->

  </nav>
</div>
<!-- END Sidebar (left)-->
