<div class="content-heading">
  Team viewer
  <div class="ml-auto">
    <em class="fas fa-exclamation-triangle text-warning"></em>
  </div>
</div>
<div class="row">
  <div class="col-xl-4 col-lg-6">
    <!-- Team card-->
    <div class="card card-default">
      <div class="card-header">
        <div class="float-right">
          <div class="badge badge-success">free</div>
        </div>
        <div class="card-title">Team #1</div>
      </div>
      <div class="card-body bt">
        <a class="inline" tooltip="Team leader">
          <img alt="project member" class="rounded-circle thumb48" src="assets/img/user/03.jpg"/>
        </a>
        <a class="inline">
          <img alt="project member" class="rounded-circle thumb24" src="assets/img/user/02.jpg"/>
        </a>
        <a class="inline">
          <img alt="project member" class="rounded-circle thumb24" src="assets/img/user/04.jpg"/>
        </a>
        <a class="inline">
          <img alt="project member" class="rounded-circle thumb24" src="assets/img/user/05.jpg"/>
        </a>
        <a class="inline">
          <img alt="project member" class="rounded-circle thumb24" src="assets/img/user/06.jpg"/>
        </a>
        <a class="inline">
          <img alt="project member" class="rounded-circle thumb24" src="assets/img/user/07.jpg"/>
        </a>
      </div>
      <div class="card-body bb text-center">
        <div tooltip="Progress of asigned tasks">
          <progressbar class="progress-xs m-0" type="info" value="50"></progressbar>
        </div>
      </div>
      <div class="card-body bb">
        <div class="row text-center">
          <div class="col-4">
            <p class="text-bold">BUDGET</p>
            <div [sparkline]="sparkOptionsWarning" class="sparkline inline mr-2" values="60,40"></div>
          </div>
          <div class="col-4">
            <p class="text-bold">TASKS</p>
            <div class="h3 m-0">26</div>
          </div>
          <div class="col-4">
            <p class="text-bold">AVAILABITY</p>
            <div [sparkline]="sparkOptionsWarning" class="sparkline inline mr-2" values="70,30"></div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <ul class="list-inline m-0">
          <li class="list-inline-item">
            <div class="badge bg-gray">angularjs</div>
          </li>
          <li class="list-inline-item">
            <div class="badge bg-gray">jquery</div>
          </li>
          <li class="list-inline-item">
            <div class="badge bg-gray">gulp</div>
          </li>
          <li class="list-inline-item">
            <div class="badge bg-gray">git</div>
          </li>
          <li class="list-inline-item">
            <div class="badge p-1 bg-gray">ios</div>
          </li>
        </ul>
      </div>
      <div class="card-footer text-center">
        <a class="btn btn-secondary btn-oval">Manage Team</a>
      </div>
    </div>
    <!-- end Team card-->
  </div>
  <div class="col-xl-4 col-lg-6">
    <!-- Team card-->
    <div class="card card-default">
      <div class="card-header">
        <div class="float-right">
          <div class="badge bg-gray">asigned</div>
        </div>
        <div class="card-title">Team #2</div>
      </div>
      <div class="card-body bt">
        <a class="inline" tooltip="Team leader">
          <img alt="project member" class="rounded-circle thumb48" src="assets/img/user/03.jpg"/>
        </a>
        <a class="inline">
          <img alt="project member" class="rounded-circle thumb24" src="assets/img/user/02.jpg"/>
        </a>
        <a class="inline">
          <img alt="project member" class="rounded-circle thumb24" src="assets/img/user/04.jpg"/>
        </a>
        <a class="inline">
          <img alt="project member" class="rounded-circle thumb24" src="assets/img/user/05.jpg"/>
        </a>
        <a class="inline">
          <img alt="project member" class="rounded-circle thumb24" src="assets/img/user/09.jpg"/>
        </a>
      </div>
      <div class="card-body bb text-center">
        <div tooltip="Progress of asigned tasks">
          <progressbar class="progress-xs m-0" type="info" value="90"></progressbar>
        </div>
      </div>
      <div class="card-body bb">
        <div class="row text-center">
          <div class="col-4">
            <p class="text-bold">BUDGET</p>
            <div [sparkline]="sparkOptionsDanger" class="sparkline inline mr-2" values="10,90"></div>
          </div>
          <div class="col-4">
            <p class="text-bold">TASKS</p>
            <div class="h3 m-0">145</div>
          </div>
          <div class="col-4">
            <p class="text-bold">AVAILABITY</p>
            <div [sparkline]="sparkOptionsSuccess" class="sparkline inline mr-2" values="40,60"></div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <ul class="list-inline m-0">
          <li class="list-inline-item">
            <div class="badge bg-gray">angularjs</div>
          </li>
          <li class="list-inline-item">
            <div class="badge bg-gray">jquery</div>
          </li>
          <li class="list-inline-item">
            <div class="badge bg-gray">gulp</div>
          </li>
          <li class="list-inline-item">
            <div class="badge bg-gray">git</div>
          </li>
          <li class="list-inline-item">
            <div class="badge p-1 bg-gray">ios</div>
          </li>
        </ul>
      </div>
      <div class="card-footer text-center">
        <a class="btn btn-secondary btn-oval">Manage Team</a>
      </div>
    </div>
    <!-- end Team card-->
  </div>
  <div class="col-xl-4 col-lg-6">
    <!-- Team card-->
    <div class="card card-default">
      <div class="card-header">
        <div class="float-right">
          <div class="badge badge-success">free</div>
        </div>
        <div class="card-title">Team #3</div>
      </div>
      <div class="card-body bt">
        <a class="inline" tooltip="Team leader">
          <img alt="project member" class="rounded-circle thumb48" src="assets/img/user/03.jpg"/>
        </a>
        <a class="inline">
          <img alt="project member" class="rounded-circle thumb24" src="assets/img/user/02.jpg"/>
        </a>
        <a class="inline">
          <img alt="project member" class="rounded-circle thumb24" src="assets/img/user/04.jpg"/>
        </a>
        <a class="inline">
          <img alt="project member" class="rounded-circle thumb24" src="assets/img/user/05.jpg"/>
        </a>
        <a class="inline">
          <img alt="project member" class="rounded-circle thumb24" src="assets/img/user/06.jpg"/>
        </a>
        <a class="inline">
          <img alt="project member" class="rounded-circle thumb24" src="assets/img/user/07.jpg"/>
        </a>
      </div>
      <div class="card-body bb text-center">
        <div tooltip="Progress of asigned tasks">
          <progressbar class="progress-xs m-0" type="info" value="50"></progressbar>
        </div>
      </div>
      <div class="card-body bb">
        <div class="row text-center">
          <div class="col-4">
            <p class="text-bold">BUDGET</p>
            <div [sparkline]="sparkOptionsWarning" class="sparkline inline mr-2" values="60,40"></div>
          </div>
          <div class="col-4">
            <p class="text-bold">TASKS</p>
            <div class="h3 m-0">98</div>
          </div>
          <div class="col-4">
            <p class="text-bold">AVAILABITY</p>
            <div [sparkline]="sparkOptionsSuccess" class="sparkline inline mr-2" values="40,60"></div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <ul class="list-inline m-0">
          <li class="list-inline-item">
            <div class="badge bg-gray">angularjs</div>
          </li>
          <li class="list-inline-item">
            <div class="badge bg-gray">jquery</div>
          </li>
          <li class="list-inline-item">
            <div class="badge bg-gray">gulp</div>
          </li>
          <li class="list-inline-item">
            <div class="badge bg-gray">git</div>
          </li>
          <li class="list-inline-item">
            <div class="badge p-1 bg-gray">ios</div>
          </li>
        </ul>
      </div>
      <div class="card-footer text-center">
        <a class="btn btn-secondary btn-oval">Manage Team</a>
      </div>
    </div>
    <!-- end Team card-->
  </div>
  <div class="col-xl-4 col-lg-6">
    <!-- Team card-->
    <div class="card card-default">
      <div class="card-header">
        <div class="float-right">
          <div class="badge bg-gray">asigned</div>
        </div>
        <div class="card-title">Team #4</div>
      </div>
      <div class="card-body bt">
        <a class="inline" tooltip="Team leader">
          <img alt="project member" class="rounded-circle thumb48" src="assets/img/user/03.jpg"/>
        </a>
        <a class="inline">
          <img alt="project member" class="rounded-circle thumb24" src="assets/img/user/02.jpg"/>
        </a>
        <a class="inline">
          <img alt="project member" class="rounded-circle thumb24" src="assets/img/user/04.jpg"/>
        </a>
        <a class="inline">
          <img alt="project member" class="rounded-circle thumb24" src="assets/img/user/05.jpg"/>
        </a>
        <a class="inline">
          <img alt="project member" class="rounded-circle thumb24" src="assets/img/user/06.jpg"/>
        </a>
        <a class="inline">
          <img alt="project member" class="rounded-circle thumb24" src="assets/img/user/07.jpg"/>
        </a>
        <a class="inline">
          <img alt="project member" class="rounded-circle thumb24" src="assets/img/user/08.jpg"/>
        </a>
        <a class="inline">
          <img alt="project member" class="rounded-circle thumb24" src="assets/img/user/09.jpg"/>
        </a>
      </div>
      <div class="card-body bb text-center">
        <div tooltip="Progress of asigned tasks">
          <progressbar class="progress-xs m-0" type="info" value="25"></progressbar>
        </div>
      </div>
      <div class="card-body bb">
        <div class="row text-center">
          <div class="col-4">
            <p class="text-bold">BUDGET</p>
            <div [sparkline]="sparkOptionsWarning" class="sparkline inline mr-2" values="60,40"></div>
          </div>
          <div class="col-4">
            <p class="text-bold">TASKS</p>
            <div class="h3 m-0">145</div>
          </div>
          <div class="col-4">
            <p class="text-bold">AVAILABITY</p>
            <div [sparkline]="sparkOptionsSuccess" class="sparkline inline mr-2" values="40,60"></div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <ul class="list-inline m-0">
          <li class="list-inline-item">
            <div class="badge bg-gray">angularjs</div>
          </li>
          <li class="list-inline-item">
            <div class="badge bg-gray">jquery</div>
          </li>
          <li class="list-inline-item">
            <div class="badge bg-gray">gulp</div>
          </li>
          <li class="list-inline-item">
            <div class="badge bg-gray">git</div>
          </li>
          <li class="list-inline-item">
            <div class="badge p-1 bg-gray">ios</div>
          </li>
        </ul>
      </div>
      <div class="card-footer text-center">
        <a class="btn btn-secondary btn-oval">Manage Team</a>
      </div>
    </div>
    <!-- end Team card-->
  </div>
  <div class="col-xl-4 col-lg-6">
    <!-- Team card-->
    <div class="card card-default">
      <div class="card-header">
        <div class="float-right">
          <div class="badge bg-gray">asigned</div>
        </div>
        <div class="card-title">Team #5</div>
      </div>
      <div class="card-body bt">
        <a class="inline" tooltip="Team leader">
          <img alt="project member" class="rounded-circle thumb48" src="assets/img/user/03.jpg"/>
        </a>
        <a class="inline">
          <img alt="project member" class="rounded-circle thumb24" src="assets/img/user/02.jpg"/>
        </a>
        <a class="inline">
          <img alt="project member" class="rounded-circle thumb24" src="assets/img/user/04.jpg"/>
        </a>
        <a class="inline">
          <img alt="project member" class="rounded-circle thumb24" src="assets/img/user/05.jpg"/>
        </a>
        <a class="inline">
          <img alt="project member" class="rounded-circle thumb24" src="assets/img/user/06.jpg"/>
        </a>
        <a class="inline">
          <img alt="project member" class="rounded-circle thumb24" src="assets/img/user/07.jpg"/>
        </a>
        <a class="inline">
          <img alt="project member" class="rounded-circle thumb24" src="assets/img/user/08.jpg"/>
        </a>
        <a class="inline">
          <img alt="project member" class="rounded-circle thumb24" src="assets/img/user/09.jpg"/>
        </a>
      </div>
      <div class="card-body bb text-center">
        <div tooltip="Progress of asigned tasks">
          <progressbar class="progress-xs m-0" type="info" value="50"></progressbar>
        </div>
      </div>
      <div class="card-body bb">
        <div class="row text-center">
          <div class="col-4">
            <p class="text-bold">BUDGET</p>
            <div [sparkline]="sparkOptionsWarning" class="sparkline inline mr-2" values="60,40"></div>
          </div>
          <div class="col-4">
            <p class="text-bold">TASKS</p>
            <div class="h3 m-0">500</div>
          </div>
          <div class="col-4">
            <p class="text-bold">AVAILABITY</p>
            <div [sparkline]="sparkOptionsSuccess" class="sparkline inline mr-2" values="40,60"></div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <ul class="list-inline m-0">
          <li class="list-inline-item">
            <div class="badge bg-gray">angularjs</div>
          </li>
          <li class="list-inline-item">
            <div class="badge bg-gray">jquery</div>
          </li>
          <li class="list-inline-item">
            <div class="badge bg-gray">gulp</div>
          </li>
          <li class="list-inline-item">
            <div class="badge bg-gray">git</div>
          </li>
          <li class="list-inline-item">
            <div class="badge p-1 bg-gray">ios</div>
          </li>
        </ul>
      </div>
      <div class="card-footer text-center">
        <a class="btn btn-secondary btn-oval">Manage Team</a>
      </div>
    </div>
    <!-- end Team card-->
  </div>
  <div class="col-xl-4 col-lg-6">
    <!-- Team card-->
    <div class="card card-default">
      <div class="card-header">
        <div class="float-right">
          <div class="badge badge-success">free</div>
        </div>
        <div class="card-title">Team #6</div>
      </div>
      <div class="card-body bt">
        <a class="inline" tooltip="Team leader">
          <img alt="project member" class="rounded-circle thumb48" src="assets/img/user/03.jpg"/>
        </a>
        <a class="inline">
          <img alt="project member" class="rounded-circle thumb24" src="assets/img/user/02.jpg"/>
        </a>
        <a class="inline">
          <img alt="project member" class="rounded-circle thumb24" src="assets/img/user/04.jpg"/>
        </a>
        <a class="inline">
          <img alt="project member" class="rounded-circle thumb24" src="assets/img/user/05.jpg"/>
        </a>
        <a class="inline">
          <img alt="project member" class="rounded-circle thumb24" src="assets/img/user/06.jpg"/>
        </a>
        <a class="inline">
          <img alt="project member" class="rounded-circle thumb24" src="assets/img/user/07.jpg"/>
        </a>
        <a class="inline">
          <img alt="project member" class="rounded-circle thumb24" src="assets/img/user/08.jpg"/>
        </a>
        <a class="inline">
          <img alt="project member" class="rounded-circle thumb24" src="assets/img/user/09.jpg"/>
        </a>
      </div>
      <div class="card-body bb text-center">
        <div tooltip="Progress of asigned tasks">
          <progressbar class="progress-xs m-0" type="info" value="50"></progressbar>
        </div>
      </div>
      <div class="card-body bb">
        <div class="row text-center">
          <div class="col-4">
            <p class="text-bold">BUDGET</p>
            <div [sparkline]="sparkOptionsDanger" class="sparkline inline mr-2" values="5,95"></div>
          </div>
          <div class="col-4">
            <p class="text-bold">TASKS</p>
            <div class="h3 m-0">145</div>
          </div>
          <div class="col-4">
            <p class="text-bold">AVAILABITY</p>
            <div [sparkline]="sparkOptionsWarning" class="sparkline inline mr-2" values="70,30"></div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <ul class="list-inline m-0">
          <li class="list-inline-item">
            <div class="badge bg-gray">angularjs</div>
          </li>
          <li class="list-inline-item">
            <div class="badge bg-gray">jquery</div>
          </li>
          <li class="list-inline-item">
            <div class="badge bg-gray">gulp</div>
          </li>
          <li class="list-inline-item">
            <div class="badge bg-gray">git</div>
          </li>
          <li class="list-inline-item">
            <div class="badge p-1 bg-gray">ios</div>
          </li>
        </ul>
      </div>
      <div class="card-footer text-center">
        <a class="btn btn-secondary btn-oval">Manage Team</a>
      </div>
    </div>
    <!-- end Team card-->
  </div>
</div>
