<div class="card">
  <div class="card-header">
    <strong>send sms </strong>
    <button (click)="SmsSteps()" class="btn btn-primary">SHOW ME STEPS</button>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <form #sendsmsForm="ngForm" (ngSubmit)="sendsmsfunc(sendsmsForm)" autocomplete="off" novalidate>
          <div class="form-group">
            <label>Mobile Number:</label> <label>
            <input id="mobile" #smsNumber="ngModel" [(ngModel)]="dataSms.smsNumber"
                   [ngClass]="{ 'is-invalid': smsNumber.errors }" class="form-control" list="cellnumber"
                   name="smsNumber" placeholder="Select here" required/>
          </label>

            <datalist id="cellnumber">
              <option *ngFor="let t of teles">{{t.TELNUMBER}}</option>
            </datalist>

          </div>
          <div id="template" class="form-group">
            <label class="col-md-12 col-form-label" for="inline-radios">Select Template: </label>
            <div class="col-md-12 col-form-label">
              <div class="form-check form-check-inline mr-1" id="inline-radios">
                <input #smsTemplate="ngModel" (change)="changetemplate($event)" [(ngModel)]="dataSms.smsTemplate" class="form-check-input"
                       id="inlineRadio1" id="smsTemplate" name="inlineRadio1"
                       name="smsTemplate" type="radio" value="LOAN">
                <label class="form-check-label" for="inlineRadio1">LOAN</label>
              </div>
              <div class="form-check form-check-inline mr-1">
                <input #smsTemplate="ngModel" (change)="changetemplate($event)" [(ngModel)]="dataSms.smsTemplate" class="form-check-input"
                       id="inlineRadio2" id="smsTemplate" name="inlineRadio2"
                       name="smsTemplate" type="radio" value="LOANOD">
                <label class="form-check-label" for="inlineRadio2">LOANOD/LIABILITY</label>
              </div>
              <div class="form-check form-check-inline mr-1">
                <input #smsTemplate="ngModel" (change)="changetemplate($event)" [(ngModel)]="dataSms.smsTemplate" class="form-check-input"
                       id="inlineRadio3" id="smsTemplate" name="inlineRadio3"
                       name="smsTemplate" type="radio" value="CC">
                <label class="form-check-label" for="inlineRadio3">CC</label>
              </div>
              <div class="form-check form-check-inline mr-1">
                <input #smsTemplate="ngModel" (change)="changetemplate($event)" [(ngModel)]="dataSms.smsTemplate" class="form-check-input"
                       id="inlineRadio3" id="smsTemplate" name="inlineRadio3"
                       name="smsTemplate" type="radio" value="watch">
                <label class="form-check-label" for="inlineRadio3">Watch/PreDELQ</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>SMS Message</label>
            <label for="smsMessage"></label><textarea #smsMessage="ngModel" [(ngModel)]="dataSms.smsMessage"
                                                      [maxlength]="160 - dataSms.smsCallback?.length"
                                                      [ngClass]="{ 'is-invalid': smsMessage.errors }" class="form-control" id="smsMessage"
                                                      name="smsMessage"
                                                      id="smsmessage"
                                                      required
                                                      rows="3"></textarea>

            <p><strong> Maximum allowed is 160.
              {{160 - dataSms.smsCallback?.length - dataSms.smsMessage?.length}} characters
              remaining</strong></p>
          </div>
          <div class="form-group">
            <label>CallBack Number</label>
            <label for="smsCallback"></label><textarea #smsCallback="ngModel" [(ngModel)]="dataSms.smsCallback"
                                                       [maxlength]="160 - dataSms.smsMessage?.length"
                                                       [ngClass]="{ 'is-invalid': smsCallback.errors }" class="form-control" id="smsCallback"
                                                       name="smsCallback"
                                                       id="callback"
                                                       required
                                                       rows="1"></textarea>

            <p><strong> Maximum allowed is 160.
              {{160 - dataSms.smsCallback?.length - dataSms.smsMessage?.length}} characters remaining
            </strong></p>

          </div>
          <button id="sendsms" [disabled]="!sendsmsForm.valid" class="btn btn-sm btn-square btn-warning" type="submit">Send
            SMS
          </button>
        </form>
      </div>
      <div id="historysms" class="col-md-8" style="min-height: 500; max-height: 750px; overflow-y: scroll;">
        <table class="table">
          <thead>
          <tr>
            <th>accnumber</th>
            <th>Message</th>
            <th>Date</th>
            <th>By</th>
            <th>Sent</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let d of sms | paginate: { itemsPerPage: 5, currentPage: p }">
            <td><strong>{{d.accnumber}}</strong></td>
            <td>{{d.message}}</td>
            <td>{{d.datesent}}</td>
            <td>{{d.owner}}</td>
            <td>
              <span class="badge badge-success">{{d.sent}}</span>
            </td>
          </tr>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
