<!-- START Mails-->
<div class="card card-default">
  <div class="card-body">
    <form method="post" role="form-horizontal">
      <div class="input-group mb-2">
        <div class="input-group-prepend text-sm">
          <span class="input-group-text">To:</span>
        </div>
        <label>
          <input class="form-control" type="text"/>
        </label>
      </div>
      <div *ngIf="showCC" class="input-group mb-2">
        <div class="input-group-prepend text-sm">
          <span class="input-group-text">CC:</span>
        </div>
        <label>
          <input class="form-control" type="text"/>
        </label>
      </div>
      <div *ngIf="showBCC" class="input-group mb-2">
        <div class="input-group-prepend text-sm">
          <span class="input-group-text">BCC:</span>
        </div>
        <label>
          <input class="form-control" type="text"/>
        </label>
      </div>
      <div class="input-group mb-2">
        <div class="input-group-prepend text-sm">
          <span class="input-group-text">Subject:</span>
        </div>
        <label>
          <input class="form-control" type="text"/>
        </label>
      </div>
      <div class="mb-editor">
        <!-- START action buttons-->
        <div class="btn-group btn-group-sm mb-3">
          <div></div>
          <div class="ml-auto">
            <button (click)="showCC = !showCC" [ngClass]="{'active':showCC}" class="btn btn-secondary btn-xs"
                    href="#" type="button">CC
            </button>
            <button (click)="showBCC = !showBCC" [ngClass]="{'active':showBCC}" class="btn btn-secondary btn-xs"
                    href="#" type="button">BCC
            </button>
          </div>
        </div>
        <!-- END action buttons  -->
        <div class="summernote" id="summernote">
          <span>Rich text mail here..</span>
        </div>
        <br/>
        <button class="btn btn-primary btn-sm mb" type="button">Send</button>
      </div>
    </form>
  </div>
</div>
