<!-- START Search form-->
<form (submit)="handleForm()" [class.open]="visible" action="search.html" class="navbar-form" role="search">
  <div class="form-group">
    <label>
      <input [(ngModel)]="term" class="form-control" name="term" placeholder="{{'header.search.PLACEHOLDER' | translate}}"
             type="text"/>
    </label>
    <div (click)="closeNavSearch()" class="fa fa-times navbar-form-close"></div>
  </div>
  <button class="d-none" type="submit">Submit</button>
</form>
<!-- END Search form-->
