<div class="content-heading">
  <div>NgxDatatable
    <small>A feature-rich yet lightweight data-table crafted for Angular4 and beyond!</small></div>
</div>
<div class="card card-default">
  <div class="card-header">
    <div class="card-title">Inline Editing</div>
    <small>Double click on cell to show edition mode</small>
  </div>
  <div class="card-body">
    <ngx-datatable #mydatatable [columnMode]="'force'" [footerHeight]="50" [headerHeight]="50" [limit]="5"
                   [rowHeight]="'auto'" [rows]="rows" class="bootstrap">
      <ngx-datatable-column name="Name">
        <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                    <span (dblclick)="editing[rowIndex + '-name'] = true" *ngIf="!editing[rowIndex + '-name']"
                          title="Double click to edit">
                          {{value}}
                        </span>
          <label>
            <input (blur)="updateValue($event, 'name', rowIndex)" *ngIf="editing[rowIndex+ '-name']" [value]="value"
                   autofocus type="text"/>
          </label>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Gender">
        <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
                    <span (dblclick)="editing[rowIndex + '-gender'] = true" *ngIf="!editing[rowIndex + '-gender']"
                          title="Double click to edit">
                          {{value}}
                        </span>
          <label>
            <select (change)="updateValue($event, 'gender', rowIndex)" *ngIf="editing[rowIndex + '-gender']"
                    [value]="value">
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </label>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Age">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
<div class="card card-default">
  <div class="card-header">
    <div class="card-title">Client-side Search and Filtering</div>
  </div>
  <div class="card-body">
    <div class="row mb-4">
      <div class="col-lg-4">
        <label>
          <input (keyup)='updateFilter($event)' class="form-control" placeholder='Type to filter the name column...'
                 type='text'/>
        </label>
      </div>
    </div>
    <ngx-datatable #table [columnMode]="'force'" [columns]="columns" [footerHeight]="50" [limit]="10"
                   [rowHeight]="'auto'" [rows]='rowsFilter' class='bootstrap no-detail-row'>
      <ngx-datatable-column [width]="300" name="Name"></ngx-datatable-column>
      <ngx-datatable-column name="Gender"></ngx-datatable-column>
      <ngx-datatable-column name="Age"></ngx-datatable-column>
      <ngx-datatable-column [width]="300" name="Company"></ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
<div class="card card-default">
  <div class="card-header">
    <div class="card-title">Horizontal and Vertical Scrolling</div>
  </div>
  <div class="card-body">
    <ngx-datatable #tableScroll [footerHeight]="0" [headerHeight]="50" [rowHeight]="40" [rows]="rows"
                   [scrollbarH]="true" [scrollbarV]="true" class="bootstrap no-detail-row">
      <ngx-datatable-column [width]="300" name="Name"></ngx-datatable-column>
      <ngx-datatable-column name="Gender"></ngx-datatable-column>
      <ngx-datatable-column name="Age"></ngx-datatable-column>
      <ngx-datatable-column [width]="300" name="Company"></ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
<div class="card card-default">
  <div class="card-header">
    <div class="float-right">
      <small>
        <button (click)="tableExp.rowDetail.expandAllRows()" class="btn btn-secondary btn-sm" type="button">Expand All
        </button>
        <button (click)="tableExp.rowDetail.collapseAllRows()" class="btn btn-secondary btn-sm" type="button">Collapse
          All
        </button>
      </small>
    </div>
    <div class="card-title">Expand Row Detail</div>
  </div>
  <div class="card-body">
    <ngx-datatable #myTable (page)="onPage($event)" [columnMode]="'force'" [footerHeight]="50" [headerHeight]="50"
                   [rowHeight]="50" [rows]='rowsExp' [scrollbarV]="50" class='bootstrap expandable'>
      <!-- Row Detail Template -->
      <ngx-datatable-row-detail #myDetailRow (toggle)="onDetailToggle($event)" [rowHeight]="60">
        <ng-template let-row="row" ngx-datatable-row-detail-template>
          <div style="padding-left:35px;">
            <div><strong>Company</strong></div>
            <div>{{row.company}}</div>
          </div>
        </ng-template>
      </ngx-datatable-row-detail>
      <!-- Column Templates -->
      <ngx-datatable-column [canAutoResize]="false" [draggable]="false" [resizeable]="false" [sortable]="false"
                            [width]="50">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <a (click)="toggleExpandRow(row)" [class.datatable-icon-down]="row.$$expanded"
             [class.datatable-icon-right]="!row.$$expanded" title="Expand/Collapse Row">
          </a>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Index" width="80">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <strong>{{row.$$index}}</strong>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Expanded" width="80">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <strong>{{row.$$expanded === 1}}</strong>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Name" width="200">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <strong>{{value}}</strong>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Gender" width="300">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <i [innerHTML]="row['name']"></i> and <i>{{value}}</i>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Age"></ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
<div class="card card-default">
  <div class="card-header">
    <div class="card-title">Client-side Sorting</div>
  </div>
  <div class="card-body">
    <ngx-datatable [columnMode]="'force'" [columns]="columnsSort" [footerHeight]="50" [headerHeight]="50"
                   [rowHeight]="50" [rows]="rowsSort" [scrollbarV]="true" [sortType]="'multi'" class="bootstrap">
    </ngx-datatable>
  </div>
</div>
<div class="card card-default">
  <div class="card-header">
    <div class="card-title">Row Selection</div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-8">
        <ngx-datatable (activate)="onActivate($event)" (select)='onSelect($event)' [columnMode]="'force'" [columns]="columns" [footerHeight]="50"
                       [headerHeight]="50" [limit]="15" [rowHeight]="'auto'" [rows]="rowsSel"
                       [selected]="selected" [selectionType]="'multiClick'" class="bootstrap">
        </ngx-datatable>
      </div>
      <div class="col-lg-4">
        <div class='selected-column'>
          <h4>Selections</h4>
          <ul>
            <li *ngFor='let sel of selected'>
              {{sel.name}}
            </li>
            <li *ngIf="!selected.length">No Selections</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
