<div class="content-heading">Product #000123</div>
<form class="card">
  <tabset [justified]="true" class="ie-fix-flex">
    <tab>
      <ng-template tabHeading>Product Edit</ng-template>
      <div>
        <fieldset>
          <div class="form-group row">
            <label class="col-lg-2 col-form-label">Name:</label>
            <div class="col-lg-10">
              <label>
                <input class="form-control" placeholder="Product name.." type="text"/>
              </label>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group row">
            <label class="col-lg-2 col-form-label">Description:</label>
            <div class="col-lg-10">
              <label>
                <textarea class="form-control" cols="5" placeholder="Short description.."></textarea>
              </label>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group row">
            <label class="col-lg-2 col-form-label">Price:</label>
            <div class="col-lg-10">
              <label>
                <input class="form-control" placeholder="$ 123.20" type="text"/>
              </label>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group row">
            <label class="col-lg-2 col-form-label">Quantity:</label>
            <div class="col-lg-10">
              <label>
                <input class="form-control" min="0" placeholder="0" type="number"/>
              </label>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group row">
            <label class="col-lg-2 col-form-label">Tax :</label>
            <div class="col-lg-10">
              <label>
                <input class="form-control" placeholder="20%" type="text"/>
              </label>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group row">
            <label class="col-lg-2 col-form-label">Status:</label>
            <div class="col-lg-10">
              <label>
                <select class="form-control">
                  <option value="">Select..</option>
                  <option value="0">Public</option>
                  <option value="1">Pending</option>
                </select>
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    </tab>
    <tab>
      <ng-template tabHeading>SEO Metadata</ng-template>
      <div>
        <fieldset>
          <div class="form-group row">
            <label class="col-lg-2 col-form-label">Title</label>
            <div class="col-lg-10">
              <label>
                <input class="form-control" placeholder="Brief description.." type="text"/>
              </label>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group row">
            <label class="col-lg-2 col-form-label">Description</label>
            <div class="col-lg-10">
              <label>
                <textarea class="form-control" placeholder="Max 255 characters..." rows="5"></textarea>
              </label>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group row">
            <label class="col-lg-2 col-form-label">Keywords</label>
            <div class="col-lg-10">
              <label>
                <textarea class="form-control" placeholder="Max 1000 characters..." rows="5"></textarea>
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    </tab>
    <tab>
      <ng-template tabHeading>Items Pictures</ng-template>
      <div>
        <div class="row mb-3">
          <div class="col-3">
            <strong>Preview</strong>
          </div>
          <div class="col-9">
            <strong>Details</strong>
          </div>
        </div>
        <div class="row mb-3 pb-3 bb">
          <div class="col-6 col-md-3">
            <a href="#" title="Product 1">
              <img alt="Product 1" class="img-fluid" src="assets/img/bg7.jpg"/>
            </a>
          </div>
          <div class="col-6 col-md-9">
            <fieldset>
              <div class="form-group row">
                <label>
                  <input class="form-control" placeholder="Brief description.." type="text"/>
                </label>
              </div>
            </fieldset>
            <p>
              <strong>Picture type</strong>
            </p>
            <div class="c-radio c-radio-nofont">
              <label>
                <input checked="" name="prod1-pic" type="radio" value="option1"/>
                <span></span>Primary</label>
            </div>
            <div class="c-radio c-radio-nofont">
              <label>
                <input name="prod1-pic" type="radio" value="option2"/>
                <span></span>Thumbnail</label>
            </div>
            <div class="c-radio c-radio-nofont">
              <label>
                <input name="prod1-pic" type="radio" value="option3"/>
                <span></span>Gallery</label>
            </div>
            <div class="text-right">
              <button class="btn btn-sm btn-danger" type="button">
                <em class="fa fa-times-circle fa-fw"></em>Remove
              </button>
            </div>
          </div>
        </div>
        <div class="row mb-3 pb-3 bb">
          <div class="col-6 col-md-3">
            <a href="#" title="Product 2">
              <img alt="Product 1" class="img-fluid" src="assets/img/bg8.jpg"/>
            </a>
          </div>
          <div class="col-6 col-md-9">
            <fieldset>
              <div class="form-group row">
                <label>
                  <input class="form-control" placeholder="Brief description.." type="text"/>
                </label>
              </div>
            </fieldset>
            <p>
              <strong>Picture type</strong>
            </p>
            <div class="c-radio c-radio-nofont">
              <label>
                <input checked="" name="prod2-pic" type="radio" value="option1"/>
                <span></span>Primary</label>
            </div>
            <div class="c-radio c-radio-nofont">
              <label>
                <input name="prod2-pic" type="radio" value="option2"/>
                <span></span>Thumbnail</label>
            </div>
            <div class="c-radio c-radio-nofont">
              <label>
                <input name="prod2-pic" type="radio" value="option3"/>
                <span></span>Gallery</label>
            </div>
            <div class="text-right">
              <button class="btn btn-sm btn-danger" type="button">
                <em class="fa fa-times-circle fa-fw"></em>Remove
              </button>
            </div>
          </div>
        </div>
        <div class="row mb-3 pb-3">
          <div class="col-6 col-md-3">
            <a href="#" title="Product 3">
              <img alt="Product 1" class="img-fluid" src="assets/img/bg10.jpg"/>
            </a>
          </div>
          <div class="col-6 col-md-9">
            <fieldset>
              <div class="form-group row">
                <label>
                  <input class="form-control" placeholder="Brief description.." type="text"/>
                </label>
              </div>
            </fieldset>
            <p>
              <strong>Picture type</strong>
            </p>
            <div class="c-radio c-radio-nofont">
              <label>
                <input checked="" name="prod3-pic" type="radio" value="option1"/>
                <span></span>Primary</label>
            </div>
            <div class="c-radio c-radio-nofont">
              <label>
                <input name="prod3-pic" type="radio" value="option2"/>
                <span></span>Thumbnail</label>
            </div>
            <div class="c-radio c-radio-nofont">
              <label>
                <input name="prod3-pic" type="radio" value="option3"/>
                <span></span>Gallery</label>
            </div>
            <div class="text-right">
              <button class="btn btn-sm btn-danger" type="button">
                <em class="fa fa-times-circle fa-fw"></em>Remove
              </button>
            </div>
          </div>
        </div>
      </div>
    </tab>
  </tabset>
</form>
<div class="text-right mt-lg">
  <button class="btn btn-warning" type="button">Discard</button>
  <button class="btn btn-success" type="button">Save</button>
</div>
