<div class="content-heading">
  <div>Documentations
    <small></small></div>
</div>
<div class="container-fluid">
  <div class="col-4 col-xl-12">
    <!-- Categories-->
    <div class="card card-default">
      <div class="card-header">Documents & Manuals</div>
      <div class="card-body">
        <ul class="list-unstyled">
          <li>
            <a (click)="open('ecollect_adminmanual.pdf','E-Collect Admin Manual')" href="">
              <em class="fa fa-file fa-fw"></em>Admin manual</a>
          </li>
          <li>
            <a (click)="open('ecollect_datadictionary.pdf', 'Data dictionary')" href="">
              <em class="fas fa-download fa-fw"></em>Data dictionary</a>
          </li>
          <li>
            <a (click)="open('ecollect_userguide.pdf', 'E-Collect User guide')" href="">
              <em class="fas fa-file-download fa-fw"></em>E-Collect user guide</a>
          </li>
          <li>
            <a (click)="open('Collection_scripts.pdf','Collection call plan scripts')" href="">
              <em class="fas fa-file-download fa-fw"></em> Collection call plan scripts</a>
          </li>
          <li>
            <a (click)="open('customer_visits.pdf','Collection customer visit')" href="">
              <em class="fa fa-file fa-fw"></em> Collection customer visit</a>
          </li>
          <li>
            <a (click)="open('decision_tree.pdf','Decision tree')" href="">
              <em class="fas fa-download fa-fw"></em> Decision tree</a>
          </li>
          <li>
            <a (click)="open('account_plans.pdf','Account plans')" href="">
              <em class="fas fa-file-download fa-fw"></em> Account plans</a>
          </li>
          <li>
            <a (click)="open('loan_process_flow.pdf','Loan process flow Collections Process Flow-MSME')" href="">
              <em class="fas fa-file-download fa-fw"></em> Loan process flow Collections Process Flow-MSME</a>
          </li>
          <li>
            <a (click)="open('pbo_handover_guideline.pdf','PBO handover guideline')" href="">
              <em class="fa fa-file fa-fw"></em> PBO handover guideline</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
