<div class="content-heading">
  <div>Data-Tables components
    <small>Native and not wrapped angular2 based data-tables</small></div>
</div>
<!-- <alert [type]="'info'">None of this examples are based on the official jQuery-Datatables</alert> -->
<h4 class="page-header">ng2 Table
  <small>Simple table extension with sorting, filtering, paging... for Angular2 apps by ValorSoftware</small>
</h4>
<div class="mb-3 clearfix">
  <div class="pull-let wd-md">
    <label>
      <input (tableChanged)="onChangeTable(config)" *ngIf="config.filtering" [ngTableFiltering]="config.filtering"
             class="form-control" placeholder="Filter all columns"/>
    </label>
  </div>
</div>
<div class="card card-default">
  <div class="table-responsive">
    <ng-table (cellClicked)="onCellClick($event)" (tableChanged)="onChangeTable(config)" [columns]="columns" [config]="config"
              [rows]="rows"></ng-table>
  </div>
</div>
<div class="text-right">
  <pagination (numPages)="numPages = $event" (pageChanged)="onChangeTable(config, $event)" *ngIf="config.paging" [(ngModel)]="page"
              [boundaryLinks]="true" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [rotate]="false"
              [totalItems]="length" class="pagination-sm">
  </pagination>
</div>
<!-- <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre> -->
