<div class="content-heading">
  <div>Roles
    <small>roles and the assigned permissions</small></div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3">
      <div class="card b">
        <div class="card-header bg-gray-lighter text-bold">Roles</div>
        <div class="list-group">
          <a (click)="permission(settingActive=1, 'admin')" [ngClass]="{'active': (settingActive == 1)}" class="list-group-item"
             href="#">Administrator</a>
          <a (click)="permission(settingActive=2, 'telecollector')" [ngClass]="{'active': (settingActive == 2)}" class="list-group-item"
             href="#">Tele Collector</a>
          <a (click)="permission(settingActive=3, 'teamleader')" [ngClass]="{'active': (settingActive == 3)}" class="list-group-item"
             href="#">Team
            Leader</a>
          <a (click)="permission(settingActive=4, 'branchmanager')" [ngClass]="{'active': (settingActive == 4)}" class="list-group-item"
             href="#">Branch
            Manager</a>
          <a (click)="permission(settingActive=5, 'branchuser')" [ngClass]="{'active': (settingActive == 5)}" class="list-group-item"
             href="#">Branch
            User</a>
          <a (click)="permission(settingActive=6, 'remedial')" [ngClass]="{'active': (settingActive == 6)}" class="list-group-item"
             href="#">Remedial</a>
          <a (click)="permission(settingActive=7, 'creditcards')" [ngClass]="{'active': (settingActive == 7)}" class="list-group-item"
             href="#">Credit
            Cards</a>
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="card b">
        <div class="card-header bg-gray-lighter text-bold">Permissions</div>
        <div class="card-body">
          <form (submit)="submitForm($event, valForm.value)" [formGroup]="valForm" class="form-validate form-horizontal"
                novalidate="">
            <div class="list-group">
              <div class="list-group-item d-flex align-items-center">
                <div>
                  <p class="text-bold mb-0">Administrator</p>
                  <small>System management</small>
                </div>
                <div class="ml-auto">
                  <label>
                    <input [formControl]="valForm.controls['administrator']" formControlName="administrator"
                           type="checkbox"/>
                  </label>
                </div>
              </div>
              <div class="list-group-item d-flex align-items-center">
                <div>
                  <p class="text-bold mb-0">Collector activity</p>
                  <small>record a collection activity</small>
                </div>
                <div class="ml-auto">
                  <label>
                    <input [formControl]="valForm.controls['activity']" formControlName="activity" type="checkbox"/>
                  </label>
                </div>
              </div>
              <div class="list-group-item d-flex align-items-center">
                <div>
                  <p class="text-bold mb-0">Team Leader</p>
                  <small>Team leader</small>
                </div>
                <div class="ml-auto">
                  <label>
                    <input [formControl]="valForm.controls['teamleader']" formControlName="teamleader" type="checkbox"/>
                  </label>
                </div>
              </div>
              <div class="list-group-item d-flex align-items-center">
                <div>
                  <p class="text-bold mb-0">Service providers</p>
                  <small>outsource accounts</small>
                </div>
                <div class="ml-auto">
                  <label>
                    <input [formControl]="valForm.controls['external_agents']" formControlName="external_agents"
                           type="checkbox"/>
                  </label>
                </div>
              </div>
              <div class="list-group-item d-flex align-items-center">
                <div>
                  <p class="text-bold mb-0">Configuration</p>
                  <small>Manage demand letter configurations</small>
                </div>
                <div class="ml-auto">
                  <label>
                    <input [formControl]="valForm.controls['configurations']" formControlName="configurations"
                           type="checkbox"/>
                  </label>
                </div>
              </div>
              <div class="list-group-item d-flex align-items-center">
                <div>
                  <p class="text-bold mb-0">MCoop Cash</p>
                  <small>M-Coop Cash Collections</small>
                </div>
                <div class="ml-auto">
                  <label>
                    <input [formControl]="valForm.controls['mcoopcash']" formControlName="mcoopcash" type="checkbox"/>
                  </label>
                </div>
              </div>
              <div class="list-group-item d-flex align-items-center">
                <div>
                  <p class="text-bold mb-0">Collections</p>
                  <small>Collections dept related activities</small>
                </div>
                <div class="ml-auto">
                  <label>
                    <input [formControl]="valForm.controls['collection']" formControlName="collection" type="checkbox"/>
                  </label>
                </div>
              </div>
              <div class="list-group-item d-flex align-items-center">
                <div>
                  <p class="text-bold mb-0">Dashboard</p>
                  <small>access to collection dashboard</small>
                </div>
                <div class="ml-auto">
                  <label>
                    <input [formControl]="valForm.controls['dashboard']" formControlName="dashboard" type="checkbox"/>
                  </label>
                </div>
              </div>
              <div class="list-group-item d-flex align-items-center">
                <div>
                  <p class="text-bold mb-0">Remedials</p>
                  <small>access remedial functionalities</small>
                </div>
                <div class="ml-auto">
                  <label>
                    <input [formControl]="valForm.controls['remedial']" checked="" formControlName="remedial"
                           type="checkbox"/>
                  </label>
                </div>
              </div>
              <div class="list-group-item d-flex align-items-center">
                <div>
                  <p class="text-bold mb-0">Credit cards</p>
                  <small>access and action credit cards</small>
                </div>
                <div class="ml-auto">
                  <label>
                    <input [formControl]="valForm.controls['creditcards']" formControlName="creditcards"
                           type="checkbox"/>
                  </label>
                </div>
              </div>
            </div>
            <hr>
            <div class="text-center">
              <button class="btn btn-info" type="submit">Update Permissions</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
