<div class="content-heading">
  Contacts
  <div class="ml-auto">
    <div class="btn-group" dropdown>
      <button class="btn btn-link" dropdownToggle>
        <em class="fa fa-ellipsis-v fa-lg"></em>
      </button>
      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right-forced animated fadeInLeft" role="menu">
        <a class="dropdown-item" href="">
          <em class="fa-fw fa fa-plus mr-2"></em>
          <span>New contact</span>
        </a>
        <a class="dropdown-item" href="">
          <em class="fa-fw fas fa-share mr-2"></em>
          <span>Import contact</span>
        </a>
        <a class="dropdown-item" href="">
          <em class="fa-fw fas fa-reply mr-2"></em>
          <span>Export contacts</span>
        </a>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-sm-6">
    <div class="card card-default">
      <div class="card-header">
        <a (click)="favContact1=!favContact1" class="float-right text-muted">
          <em [ngClass]="favContact1 ? 'fa-star text-warning' : 'fa-star-o'" class="fa"></em>
        </a>
      </div>
      <div class="card-body text-center">
        <img alt="Contact" class="mb-2 img-fluid rounded-circle thumb64" src="assets/img/user/02.jpg"/>
        <h4>Audrey Hunt</h4>
        <p>Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!</p>
      </div>
      <div class="card-footer d-flex">
        <div>
          <button class="btn btn-xs btn-primary" type="button">Send message</button>
        </div>
        <div class="ml-auto">
          <button class="btn btn-xs btn-secondary" type="button">View</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-6">
    <div class="card card-default">
      <div class="card-header">
        <a (click)="favContact2=!favContact2" class="float-right text-muted">
          <em [ngClass]="favContact2 ? 'fa-star text-warning' : 'fa-star-o'" class="fa"></em>
        </a>
      </div>
      <div class="card-body text-center">
        <img alt="Contact" class="mb-2 img-fluid rounded-circle thumb64" src="assets/img/user/03.jpg"/>
        <h4>Leonard Price</h4>
        <p>Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!</p>
      </div>
      <div class="card-footer d-flex">
        <div>
          <button class="btn btn-xs btn-primary" type="button">Send message</button>
        </div>
        <div class="ml-auto">
          <button class="btn btn-xs btn-secondary" type="button">View</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-6">
    <div class="card card-default">
      <div class="card-header">
        <a (click)="favContact3=!favContact3" class="float-right text-muted">
          <em [ngClass]="favContact3 ? 'fa-star text-warning' : 'fa-star-o'" class="fa"></em>
        </a>
      </div>
      <div class="card-body text-center">
        <img alt="Contact" class="mb-2 img-fluid rounded-circle thumb64" src="assets/img/user/04.jpg"/>
        <h4>Jamie Stephens</h4>
        <p>Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!</p>
      </div>
      <div class="card-footer d-flex">
        <div>
          <button class="btn btn-xs btn-primary" type="button">Send message</button>
        </div>
        <div class="ml-auto">
          <button class="btn btn-xs btn-secondary" type="button">View</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-sm-6">
    <div class="card card-default">
      <div class="card-header">
        <a (click)="favContact4=!favContact4" class="float-right text-muted">
          <em [ngClass]="favContact4 ? 'fa-star text-warning' : 'fa-star-o'" class="fa"></em>
        </a>
      </div>
      <div class="card-body text-center">
        <img alt="Contact" class="mb-2 img-fluid rounded-circle thumb64" src="assets/img/user/05.jpg"/>
        <h4>Tara Nelson</h4>
        <p>Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!</p>
      </div>
      <div class="card-footer d-flex">
        <div>
          <button class="btn btn-xs btn-primary" type="button">Send message</button>
        </div>
        <div class="ml-auto">
          <button class="btn btn-xs btn-secondary" type="button">View</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-6">
    <div class="card card-default">
      <div class="card-header">
        <a (click)="favContact5=!favContact5" class="float-right text-muted">
          <em [ngClass]="favContact5 ? 'fa-star text-warning' : 'fa-star-o'" class="fa"></em>
        </a>
      </div>
      <div class="card-body text-center">
        <img alt="Contact" class="mb-2 img-fluid rounded-circle thumb64" src="assets/img/user/06.jpg"/>
        <h4>Constance Cook</h4>
        <p>Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!</p>
      </div>
      <div class="card-footer d-flex">
        <div>
          <button class="btn btn-xs btn-primary mr-sm" type="button">Send message</button>
          <button class="btn btn-xs btn-primary" type="button">Call</button>
        </div>
        <div class="ml-auto">
          <button class="btn btn-xs btn-secondary" type="button">View</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-6">
    <div class="card card-default">
      <div class="card-header">
        <a (click)="favContact6=!favContact6" class="float-right text-muted">
          <em [ngClass]="favContact6 ? 'fa-star text-warning' : 'fa-star-o'" class="fa"></em>
        </a>
      </div>
      <div class="card-body text-center">
        <img alt="Contact" class="mb-2 img-fluid rounded-circle thumb64" src="assets/img/user/07.jpg"/>
        <h4>Laura Palmr</h4>
        <p>Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!</p>
      </div>
      <div class="card-footer d-flex">
        <div>
          <button class="btn btn-xs btn-primary" type="button">Send message</button>
        </div>
        <div class="ml-auto">
          <button class="btn btn-xs btn-secondary" type="button">View</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-sm-6">
    <div class="card card-default">
      <div class="card-header">
        <a (click)="favContact7=!favContact7" class="float-right text-muted">
          <em [ngClass]="favContact7 ? 'fa-star text-warning' : 'fa-star-o'" class="fa"></em>
        </a>
      </div>
      <div class="card-body text-center">
        <img alt="Contact" class="mb-2 img-fluid rounded-circle thumb64" src="assets/img/user/08.jpg"/>
        <h4>Audrey Hunt</h4>
        <p>Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!</p>
      </div>
      <div class="card-footer d-flex">
        <div>
          <button class="btn btn-xs btn-primary" type="button">Call</button>
        </div>
        <div class="ml-auto">
          <button class="btn btn-xs btn-secondary" type="button">View</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-6">
    <div class="card card-default">
      <div class="card-header">
        <a (click)="favContact8=!favContact8" class="float-right text-muted">
          <em [ngClass]="favContact8 ? 'fa-star text-warning' : 'fa-star-o'" class="fa"></em>
        </a>
      </div>
      <div class="card-body text-center">
        <img alt="Contact" class="mb-2 img-fluid rounded-circle thumb64" src="assets/img/user/09.jpg"/>
        <h4>Leslie Mckinney</h4>
        <p>Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!</p>
      </div>
      <div class="card-footer d-flex">
        <div>
          <button class="btn btn-xs btn-primary" type="button">Send message</button>
        </div>
        <div class="ml-auto">
          <button class="btn btn-xs btn-secondary" type="button">View</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-6">
    <div class="card card-default">
      <div class="card-header">
        <a (click)="favContact9=!favContact9" class="float-right text-muted">
          <em [ngClass]="favContact9 ? 'fa-star text-warning' : 'fa-star-o'" class="fa"></em>
        </a>
      </div>
      <div class="card-body text-center">
        <img alt="Contact" class="mb-2 img-fluid rounded-circle thumb64" src="assets/img/user/04.jpg"/>
        <h4>Brian Mills</h4>
        <p>Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!</p>
      </div>
      <div class="card-footer d-flex">
        <div>
          <button class="btn btn-xs btn-primary" type="button">Send message</button>
        </div>
        <div class="ml-auto">
          <button class="btn btn-xs btn-secondary" type="button">View</button>
        </div>
      </div>
    </div>
  </div>
</div>
